<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Document</title>
</head>
<body>
    
<header>
    <!-- contact content -->
    <div class="header-content-top">
      <div class="content">
        <span><i class="fas fa-phone-square-alt"></i> (96)6769-4292</span>
        <span><i class="fas fa-envelope-square"></i>customer-care@gmail.com</span>
      </div>
    </div>
    <!-- / contact content -->
    <div class="header-container">
      <!-- logo -->
      <strong class="logo"><i class="fas fa-heart"></i></strong>
      <!-- open nav mobile -->
  
      <!--search -->
      <label class="open-search" for="open-search">
        <i class="fas fa-search"></i>
              <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
      <div class="search">
        <button class="button-search"><i class="fas fa-search"></i></button>
        <input type="text" placeholder="What are you looking for?" class="input-search"/>
      </div>
      </label>
      <!-- // search -->
      <nav class="nav-content">
        <!-- nav -->
        <ul class="nav-content-list">
          <li class="nav-content-item account-login">
            <label class="open-menu-login-account" for="open-menu-login-account">
  
              <input class="input-menu" id="open-menu-login-account" type="checkbox" name="menu" />
              
              <i class="fas fa-user-circle"></i><span class="login-text">
                <%if(user) { %>
                  Hello <%= user.name.split(' ')[0] %> <strong></strong>
                </span> <span class="item-arrow"></span>
                  <ul class="login-list">
                    <li class="login-list-item"><a href="">My account</a></li>
                    <li class="login-list-item"><a href="">Home</a></li>
                    <li class="login-list-item"><a href="/users/logout">Logout</a></li>
                    </label>
                  </ul>
                <%}else {%>
                  <a href='/users/login'>Hello, Sign in </a><strong>Create Account</strong>
                  </span> <span class="item-arrow"></span>
                  </label>
                <%} %>
              
  
              <!-- submenu -->
              
          </li>
          <li class="nav-content-item"><a class="nav-content-link" href=""><i class="fas fa-heart"></i></a></li>
          <li class="nav-content-item"><a class="nav-content-link" href=""><i class="fas fa-shopping-cart"></i></a></li>
          <!-- call to action -->
        </ul>
      </nav>
    </div>
    <!-- nav navigation commerce -->
    <div class="nav-container">
      <nav class="all-category-nav">
        <label class="open-menu-all" for="open-menu-all">
          <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
          <span class="all-navigator"><i class="fas fa-bars"></i> <span>All category</span> <i class="fas fa-angle-down"></i>
            <i class="fas fa-angle-up"></i>
          </span>
  
          <ul class="all-category-list">
            <li class="all-category-list-item"><a href="" class="all-category-list-link">Action & Adventure<i class="fas fa-angle-right"></i></a>
              <div class="category-second-list">
                <ul class="category-second-list-ul">
                  <li class="category-second-item"><a href="">Action & Adventure</a></li>
                  <li class="category-second-item"><a href="">Science Fiction & Fantasy</a></li>
                  <li class="category-second-item"><a href="">Religion & Spirituality </a></li>
                  <li class="category-second-item"><a href="">Crime, Thriller & Mystery</a></li>
                  <li class="category-second-item"><a href="">Travel & Tourism</a></li>
                  <li class="category-second-item"><a href="">Business & Economics </a></li>
                </ul>
  
                <div class="img-product-menu"><img src="https://i.ibb.co/Vvndkmy/banner.jpg"></div>
              </div>
            </li>
            <li class="all-category-list-item"><a href="" class="all-category-list-link">Science Fiction & Fantasy <i class="fas fa-angle-right"></i></a>
              <div class="category-second-list">
                <ul class="category-second-list-ul">
                  <li class="category-second-item"><a href="">Action & Adventure</a></li>
                  <li class="category-second-item"><a href="">Science Fiction & Fantasy</a></li>
                  <li class="category-second-item"><a href="">Religion & Spirituality </a></li>
                  <li class="category-second-item"><a href="">Crime, Thriller & Mystery</a></li>
                  <li class="category-second-item"><a href="">Travel & Tourism</a></li>
                  <li class="category-second-item"><a href="">Business & Economics </a></li>
                </ul>
  
                <div class="img-product-menu"><img src="https://i.ibb.co/Vvndkmy/banner.jpg"></div>
              </div>
            </li>
            <li class="all-category-list-item"><a href="" class="all-category-list-link">Religion & Spirituality<i class="fas fa-angle-right"></i></a></li>
            <li class="all-category-list-item"><a href="" class="all-category-list-link">Crime, Thriller & Mystery<i class="fas fa-angle-right"></i></a></li>
            <li class="all-category-list-item"><a href="" class="all-category-list-link">Travel & Tourism<i class="fas fa-angle-right"></i></a></li>
            <li class="all-category-list-item"><a href="" class="all-category-list-link">Business & Economics<i class="fas fa-angle-right"></i></a></li>
  
          </ul>
        </label>
  
      </nav>
      <nav class="featured-category">
        <ul class="nav-row">
          <li class="nav-row-list"><a href="#" class="nav-row-list-link">Action & Adventure</a></li>
          <li class="nav-row-list"><a href="#" class="nav-row-list-link">Science Fiction & Fantasy</a></li>
          <li class="nav-row-list"><a href="#" class="nav-row-list-link">Religion & Spirituality </a></li>
          <li class="nav-row-list"><a href="#" class="nav-row-list-link">Crime, Thriller & Mystery</a></li>
          <li class="nav-row-list"><a href="#" class="nav-row-list-link">Travel & Tourism</a></li>
          <li class="nav-row-list"><a href="#" class="nav-row-list-link">Business & Economics   </a></li>
        </ul>
      </nav>
    </div>
  </header>
  
    
