<%- include('partials/header') -%>
<section class="admin-book-container">
   <div class='admin-header-container'>
     <a class='admin-header-anchor underline' href='/admin/book/add'>Add Book</a>
     <a class='admin-header-anchor' href='/admin/category/add'>Add Category</a>
     <a class='admin-header-anchor' href='/admin/book'>Manage Book</a>
     <a class='admin-header-anchor' href='/admin/user'>Manage User</a>
   </div>
   <form id="form-box" method='POST' action='/admin/book/add'>
      <div id="form-title">New Book</div>
      
      <div class="form-header">Title</div>
      <input type="text" name="title" class="form-input" id="addrs_1" placeholder="Title" required></input>
      
      <div class="form-header">Author</div>
      <input type="text"  name='author' class="form-input" id="addrs_2" placeholder="Author" required></input>
      
      <div class="form-header">Description</div>
      <textarea class='description-text-area' name='description' rows="4" cols="50" placeholder="Description">
      </textarea>
      <div class="form-header">Thumbnail URL</div>
      <input type="text" name='thumbnailURL' class="form-input" id="suburb" placeholder="Thumbnail URL" required></input>
      
      <div class="form-header">Publisher</div>
      <input type="text" name='publisher' class="form-input" id="suburb" placeholder="Publisher" required></input>
      
      <div class="form-header">Category(select from below)</div>
      <textarea class='category-text-area' name='categories' rows="4" cols="50">

      </textarea>

      <div class="form-header">Category(select from here)</div>
      <div class='category-grid-admin'>
         <% allCategories.forEach(elem =>{ %>
           <p class='category-add-btn'><%=elem.categoryName%></p>
         <% }); %>
      </div>

      <div class="form-header">Price</div>
      <input type="number" class="form-input" name="price" id="state" placeholder="Price in Rupees" required></input>
      
      <div class="form-header">Qty to be added</div>
      <input type="number" name="quantity" class="form-input" id="postcode" placeholder="quantity" required></input>
    
      <input id='button' class="btn" type="submit" name="next" value="Add Book" >
      
    </form>
   
</section>
   <script>
      let arrTags = [];
      var catAreaElem = document.querySelector('.category-text-area');
      document.addEventListener('click', toggleTagEventHandler);
      function toggleTagEventHandler(event) {
         // event.preventDefault();
         let target = event.target;
         if(!target.classList.contains('category-add-btn'))
            return;
         toggle(target);
         // return false;
      }
      function toggle(catElem) {
         var newCatName = catElem.innerHTML.trim();
         let str = catAreaElem.innerHTML.trim();
         let tokens = str.split('|');
         let present = tokens.includes(newCatName);
         if(present) {
            let index = tokens.indexOf(newCatName);
            tokens.splice(index, 1);
            catAreaElem.innerHTML = tokens.join('|');
         }
         else{
            if(str.length === 0)
               str = newCatName;
            else
               str += '|' + newCatName;
            catAreaElem.innerHTML = str;
           
            
         }
      }

      
   </script>
<%- include('partials/footer') -%>