<%- include('partials/header') -%>
  <form method='POST' action='/review/<%=book.slug %>'>
    <p>Review for <%=book.title%> By <%=book.author %></p>
    <textarea name='content' rows='5' cols='50'></textarea>
    <input type='submit'>

  </form>
</body>
</html>