<%- include('partials/header') -%>
<div class='admin-book-container'>
<div class='admin-header-container'>
    <a class='admin-header-anchor' href='/admin/book/add'>Add Book</a>
    <a class='admin-header-anchor' href='/admin/book'>Manage Book</a>
    <a class='admin-header-anchor' href='/admin/user'>Manage User</a>
</div>
</div>
<%- include('partials/footer') -%>
