<%- include('partials/header') -%>
    <a href='admin/book/add'>Add Book</a>
    <a href='admin/book/edit'>Edit Book</a>
    <a href='admin/book/delete'>Delete Book</a>
    <a href='admin/book/'>View Book</a>
</body>
</html>
