<%- include('partials/header') -%>
    <div class='login-container'>
            <div class="login-main">
                <div class="log-container a-container" id="a-container">
                <form class="form" id="a-form" method="POST" action="/users/register">
                    <div class="flashes">
                        <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 2000); </script>
                        <% if (alerts.error) { %>
                            <% alerts.error.forEach(function(msg) { %>
                              <div class="alert alert-error "><%= msg %></div>
                            <% }); %>
                          <% } %>
                          <% if (alerts.success) { %>
                            <% alerts.success.forEach(function(msg) { %>
                              <div class="alert alert-success"><%= msg %></div>
                            <% }); %>
                          <% } %>
                        
                      </div>
                    <h2 class="form_title title">Create Account</h2>
                    <input class="form__input" name="name" type="text" placeholder="Name" required>
                    <input class="form__input" type="text" name="email" placeholder="Email" required>
                    <input class="form__input" type="password" name="password" placeholder="Password" required>
                    <input type="submit" class="form__button button submit" value="SIGN UP">
                </form>
                </div>
                <div class="log-container b-container" id="b-container">
                <form class="form" id="b-form" method="POST" action="/users/login">
                    <h2 class="form_title title">Sign in to Website</h2>
                    <input class="form__input" name="email" type="text" placeholder="Email" required>
                    <input class="form__input" name="password" type="password" placeholder="Password" required><a class="form__link">Forgot your password?</a>
                    <input type="submit" class="form__button button submit" value="SIGN IN">
                </form>
                </div>
                <div class="switch" id="switch-cnt">
                <div class="switch__circle"></div>
                <div class="switch__circle switch__circle--t"></div>
                <div class="switch__container" id="switch-c1">
                    <h2 class="switch__title title">Welcome Back !</h2>
                    <p class="switch__description description">To keep connected with us please login with your personal info</p>
                    <button class="switch__button button switch-btn">SIGN IN</button>
                </div>
                <div class="switch__container is-hidden" id="switch-c2">
                    <h2 class="switch__title title">Hello Friend !</h2>
                    <p class="switch__description description">Enter your personal details and start journey with us</p>
                    <button class="switch__button button switch-btn">SIGN UP</button>
                </div>
                </div>
            </div>
    </div>
    <script src="/javascripts/main.js"></script>
<%- include('partials/footer') -%>
