<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Online Shopping site in India:  Shop Online for Books</title>
</head>
<body>
    <header role="banner">
        <h1>Admin Panel</h1>
        <ul class="utilities">
          <li class="logout warn"><a href="/users/logout">Log Out</a></li>
        </ul>
    </header>
      
      <nav role="navigation">
        <ul class="main">
          <li class="dashboard"><a href="#">Add Books</a></li>
          <li class="write"><a href="#">Manage Users</a></li>
          <li class="edit"><a href="#">View Books</a></li>
        </ul>
      </nav>
      
      <main role="main">
        <section class="panel important">
          <h2>Welcome to Your Dashboard </h2>
          <ul>
            <li>Use Add books tab to add book</li>
            <li>Use Manage users tab for block/unblock users</li>
            <li>USe View books tab to view/edit/delete book</li>
          </ul>
        </section>
        <section class="panel">
          <h2>Posts</h2>
          <ul>
            <li><b>2458 </b>Books</li>
            <li><b>18</b> Users</li>
          </ul>
        </section>
       
        <section class="panel important">
            <h2>Add a Book</h2>
            <form action="#">
                <div class="twothirds">
                <label for="title">Title</label>
                <input type="text" name="title" id="name" placeholder="Title" />
                <label for="title">Author</label>
                <input type="text" name="author" id="name" placeholder="Title" />
                <label for="title">Thumbnail URL</label>
                <input type="text" name="thumbnailURL" id="name" placeholder="Thumbnail" />
                <label for="title">Publisher:</label>
                <input type="text" name="publisher" id="name" placeholder="Publisher" />
                <label for="title">Price:</label>
                <input type="number" name="price" id="name" placeholder="Price" />
                <label for="title">Quantity:</label>
                <input type="number" name="quantity" id="name" placeholder="Quantity" />
                
                
                </div>
                <div class="onethird">
                    <label for="textarea">Description:</label>
                    <textarea cols="40" rows="8" name="description" id="textarea"></textarea>
                    <div>
                        <% allCategories.forEach(elem =>{ %>
                          <p class='category-add-btn'><%=elem.categoryName%></p>
                        <% }); %>
                    </div>
        
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </section>
        <section class="panel">
            <h2>feedback</h2>
            <div class="feedback">This is neutral feedback Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, praesentium. Libero perspiciatis quis aliquid iste quam dignissimos, accusamus temporibus ullam voluptatum, tempora pariatur, similique molestias blanditiis at sunt earum neque.</div>
            <div class="feedback error">This is warning feedback
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                </ul>  
            </div>
            <div class="feedback success">This is positive feedback</div>
        </section>
        <section class="panel ">
          <h2>Table</h2>
          <table>
            <tr>
              <th>Username</th>
              <th>Posts</th>
              <th>comments</th>
              <th>date</th>
            </tr>
            <tr>
              <td>Pete</td>
              <td>4</td>
              <td>7</td>
              <td>Oct 10, 2015</td>
      
            </tr>
            <tr>
              <td>Mary</td>
              <td>5769</td>
              <td>2517</td>
              <td>Jan 1, 2014</td>
            </tr>
          </table>
        </section>
      
      </main>
      <footer role="contentinfo">&copy Anshu Saurabh</footer>
      <script>
        let arrTags = [];
        var catAreaElem = document.querySelector('textarea');
        document.addEventListener('click', toggleTagEventHandler);
        function toggleTagEventHandler(event) {
           // event.preventDefault();
           let target = event.target;
           if(!target.classList.contains('category-add-btn'))
              return;
           toggle(target);
           // return false;
        }
        function toggle(catElem) {
           var newCatName = catElem.innerHTML.trim();
           let str = catAreaElem.innerHTML.trim();
           let tokens = str.split('|');
           let present = tokens.includes(newCatName);
           if(present) {
              let index = tokens.indexOf(newCatName);
              tokens.splice(index, 1);
              catAreaElem.innerHTML = tokens.join('|');
           }
           else{
              if(str.length === 0)
                 str = newCatName;
              else
                 str += '|' + newCatName;
              catAreaElem.innerHTML = str;
             
              
           }
        }
  
        
     </script>
</body>
</html>
