<%- include('partials/header') -%>
<div class='review-container'>
   <div class='review-header-container'>
      <a class='review-header-anchor' href='/review/pending'>Reviews Pending</a>
      <a class='review-header-anchor' href='/review/posted'>Reviews Posted</a>
   </div>
</div>
<%- include('partials/footer') -%>
