<%- include('partials/header') -%>
<div class='review-container'>
   <a href='/review/pending'>Reviews Pending</a>
   <a href='/review/posted'>Reviews Posted</a>
</div>
<%- include('partials/footer') -%>
