$sidebar: 300px;
$color-dark: #1B2327;
$color-dark-blue: #1C2E36;
$color-light: #e7e7e7;
$color-black: #242424;
$color-green:#22C064;
$gutter: 30px;
$block-unit: 100px;

body, html {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  font-size:14px;
}
ul, ol {
  list-style:none inside;
  margin:0;
  padding:0;
}
h1 {
  font-size:28px;
  line-height:36px;
  font-weight:600;
  margin:0;
  padding:0;
}
a, a:visited {
  text-decoration:none;
}

.sidebar {
  width:$sidebar;
  background-color:$color-dark;
  position:fixed;
  height:82vh;
  bottom: 0px;
  
  &__sections {
    background-color:white;
    width:$block-unit;
    position:fixed;
    height:100%;
    
    ul {      
      li {      
        a, a:visited {
          display:flex;
          flex-direction:column;
          width:100%;
          height:$block-unit;
          align-items:center;
          justify-content:center;
          text-decoration:none;
          transition:all .4s;
          font-size:12px;
          color:$color-dark;
        }
        a:hover {
          background-color:$color-light;
        }
      }
    }
    & .icon {
      margin-bottom:.5rem;
    }
  }
  &__subsections {
    margin-left:$block-unit;
    
    &-brand {
      height:$block-unit;
      display:flex;
      align-items:center;
      padding-left:$gutter;
      color:$color-light;
    }
    ul {
      padding-top:$gutter;
      li {
        a, a:visited {
          color:$color-light;
          padding:15px $gutter;
          text-decoration:none;
          display:inline-block;
          width:100%;
          transition:all .4s;
          position:relative;
        }
        a:hover {
          padding:15px $gutter 15px 35px;
        }
      }
    }
  }
}

.page {
  margin-left:$sidebar;
  background-color:#f7f7f7;
}

.header {
  height:$block-unit;
  background-color:$color-dark-blue;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding-left:$gutter;
  padding-right:$gutter;
  color:$color-light;
  
  &__search {
    input[type="text"] {
      border-radius:50px;
      background-color:rgba($color-light, .1);
      font-size:14px;
      border:0;
      padding:10px 20px;
      transition:all .4s;
      color:$color-light;
      &:focus {
        outline:none;
        background-color:rgba($color-light, .2);
      }
    }
  }
  
  &__date {
    margin-left:auto;
    margin-right:$gutter;
  }
  
  &__user {
    display:flex;
    align-items:center;
    flex-direction:row;
    .icon {
      color:$color-light;
      font-size:20px;
      margin-left:10px;
    }
  }
}

.content {
  & .title {
    height:$block-unit;
    background-color:$color-dark-blue;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-left:$gutter;
    padding-right:$gutter;
    color:$color-light;
    z-index:99;
    
    &__extras {
      display:flex;
      align-items:center;
      
      .icon {
        margin-right:10px;
        color:$color-light;
      }
    }
  }
  
  &__main {
    padding:$gutter;
    position:relative;
    display:flex;
    
    &-page {
      width:100%;
      margin-right:300px;
    }
    
    &-sidebar {
      width:270px;
      position:absolute;
      top:$gutter;
      right:$gutter;
    }
  }
}

.box {
  background-color:white;
  padding:$gutter;
  transition:all .4s;
  
  &:hover {
    box-shadow:0 10px 30px rgba($color-dark, .05);
  }
  
  h5 {
    margin-right:auto;
    font-weight:600;
  }
  
  a, a:visited {
    color:$color-dark;
    margin-left:5px;
  }
  
  &__line {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid $color-light;
    padding-bottom:10px;
    
    &:not(:last-child) {
      margin-bottom:$gutter;
    }
  }
  .published {
    background-color:$color-green;
    padding:5px 10px;
    border-radius:20px;
    color:$color-light !important;
  }
}

/* Form elements */
.field__group {
  display:flex;
  flex-direction:row;
  align-items:center;
  position:relative;
  
  &:not(:last-of-type) {
    margin-bottom:$gutter / 2;
  }
  
  input[type="text"],
  textarea {
    width:100%;
    display:inline-block;
    font-size:18px;
    padding:10px 10px;
    border:1px solid $color-light;
    
    &:focus {
      outline:none;
    }
  }
  label {
    width:$block-unit;
    display:inline-block;
    flex-shrink:0;
  }
  & .imagedrop {
    background-color:$color-light;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:$gutter;
    cursor:pointer;
    & .icon {
      margin-bottom:10px;
      font-size:60px;
    }
  }
}

/* UI */
.button {
  border:0;
  background-color:$color-dark;
  width:100%;
  color:$color-light;
  height:40px;
  font-size:14px;
  text-transform:uppercase;
  cursor:pointer;
  transition:all .4s;
  
  &:hover {
    background-color:$color-dark-blue;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: $sidebar;
  right:0;
}
.sticky + .content__main {
  margin-top: $block-unit;
}
.stickyside {
  position: fixed;
  top: $block-unit + $gutter;
  right:$gutter;
}


/* Icons */
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.icon {
  color: $color-black;
  font-size: 30px;
}