.books-container{
    max-width: 1300px;
    min-height: 82vh;
    height: auto;
    margin: 0 auto;
    border: 1px solid blueviolet;
    .search-res-header{
        margin-top: 18px!important;
        margin-bottom: 18px!important;
        margin-left:1rem;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.2;
        padding-bottom: 4px;
        span{
            font-style: italic;
        }
    }
    .books-main-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 460px;
        grid-gap: 1.5rem;

        .books-main-grid-elem {
            padding: 0.5rem;
            position: relative;
            // display: flex;
        }
        .books-main-grid-elem-img {
            width: 75%;
            overflow: hidden;
            max-height: 306px;
            align-self: center;
            .books-main-single-image{
                width: 100%;
                
            }
        }
        .rate-grid{
            padding: 0.5rem 0;
            width: 220px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            .star-filled{
                color: #FFC700;
            }
            .star-unfilled{
                color: #CCCCCC;
            }
        }
    }
    .books-main-elem-misc{
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        // align-content: center;
        justify-content: center;
        grid-gap: 0.5rem;
        .add-to-cart{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0.5rem;
        }
        .books-main-gatipay-elem{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.books-main-grid-elem-div{
    margin: 0.5rem;
}