.books-container{
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    border: 1px solid blueviolet;
    .books-main-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 400px;
        grid-gap: 1.5rem;

        .books-main-grid-elem {
            padding: 0.5rem;
            display: flex;
            .books-main-grid-elem-img {
                width: 75%;
                align-self: center;
                
            }
        }
        
    }
}
.books-main-single-image{
    width: 100%;
}