.alert-success{
    color: green;
    background: rgb(224, 161, 247);
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
    font-family: 'Source Code Pro', monospace;

  }
  .alert-error{
    color: rgb(186, 55, 55);
    padding: 0.25rem 0.5rem;
    background: rgb(224, 161, 247);
    font-weight: 600;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
    font-family: 'Source Code Pro', monospace;
  }

.flashes{
  z-index: 100;
  background-color: white;
  // position: absolute;
  // top: 0rem;
  // left: 30vw;
  text-align: center;
  opacity: 0.75;
  display: flex;
  
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}