.alert-success{
    color: green;
    background: rgb(255, 255, 255);
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    
    transition: all 0.25s ease-in-out;
    font-family: 'Source Code Pro', monospace;

  }
  .alert-error{
    color: rgb(140, 1, 1);
    padding: 0.25rem 0.5rem;
    background: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
    font-family: 'Source Code Pro', monospace;
  }

.flashes{
  z-index: 100;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}