.review-container{
    max-width: 1300px;
    min-height: 82vh;
    height: auto;
    margin: 0 auto;
    position: relative;
    // border: 1px solid blueviolet;
    font-family: 'Roboto', sans-serif;
    .review-header-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        margin: 1rem;
        font-size: 24px;
        text-decoration: none;
        text-align: center;
    }
    .review-main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 360px;
        .review-main-grid-single-elem{
            border-top: 1px solid #eee;
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 1fr 4fr;
            .review-single-img-div{
                overflow: hidden;
            }
            .review-single-desc-div{
                padding: 1rem;
                // position: relative;
            }
            .review-single-img{
                width: 100%;
            }
            
        }
        .books-book-name{
            overflow: hidden;
            display: inline-block;
            position: relative;
            word-break: normal;
            font-size: 22px!important;
            margin-bottom: 0.5rem;
            font-weight: 500;
            color: rgb(17,17,17);
            width: 100%;
        }
        .books-book-author{
            overflow: hidden;
            display: inline-block;
            position: relative;
            word-break: normal;
            margin-bottom: 0.5rem;
            font-size: 18px!important;
            font-weight: 400;
            color: rgb(35, 35, 35);
            width: 100%;
        }
        .review-main-review-anchor{
            overflow: hidden;
            display: inline-block;
            position: relative;
            word-break: normal;
            margin-bottom: 0.5rem;
            letter-spacing: 0.25px;
            font-size: 16px!important;
            font-weight: 400;
            color: rgb(255, 255, 255);
            padding: 0.5rem 1rem;
            border-radius: 2px;
            background-color: #545BC4;
            // width: 100%;
        }
        .review-main-review-anchor:hover{
            color:#C45500;
        }
        .review-book-self{
            overflow: hidden;
            
            display: inline-block;
            position: relative;
            word-break: normal;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 14px!important;
            font-weight: 400;
            color: rgb(35, 35, 35);
            width: 100%;
            font-style: italic;
        }
        .rate-grid{
            // position: absolute;
            // top: 390px;
            // left: 8px;
            padding: 0.5rem 0;
            width: 220px;
            height: 32px;
            display: grid;
            grid-template-columns: repeat(5, 24px);
            .star-filled{
                color: #FFC700;
            }
            .star-unfilled{
                color: #CCCCCC;
            }
            .fa-star{
                font-size: 20px;
            }
        }
    }
    .review-single-image{
        width: 100%;
    }
    
    form{
        font-family: 'Open Sans', sans-serif;
        .saved-address-grid{
            display: grid;
            grid-gap: 1rem 0.5rem;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            margin: 1rem;
            .address-general-elem{
                letter-spacing: 0.5px;
                line-height: 1.7;
                .address-elem-name{
                    font-weight: 600;
                }
                li a{
                    text-decoration: underline;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
            .is-default-address{
                height: 40px;
                // text-align: center;
                opacity: 0.75;
                font-weight: 600;
                border-left: 1px solid #C7C7C7;
                border-right: 1px solid #C7C7C7;
                border-top: 1px solid #C7C7C7;;
                padding-left: 20px;
                padding-top: 11px;
            }
            .not-default-address{
                height: 40px;
            }
            .address-elem-grid{
                display: grid;
                grid-template-columns: 1fr;
                padding: 0.5rem;
                position: relative;
                
            }
            input[type=radio]{
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
            }
            input[type=radio]:checked + div{
                border: 1px solid #9147FF;
                box-shadow: 0 2px 1px 0 rgba(0,0,0,.16);
            }
            input[type=radio]:not(:checked) + div{
                border: 1px solid #C7C7C7;
                box-shadow: 0 2px 1px 0 rgba(0,0,0,.16);
            }
        }
        .address-main-grid-elem{
            height: 266px;
            // border-width: 1px;
            box-sizing: border-box;
            // border-color: #C7C7C7;
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.16);
            // border-style: solid;
            
        }
        .cart-address {
            display: block;
            -webkit-appearance: button;
            font-size: 15px;
            width: 200px;
            height: 36px;
            background-color: #545BC4;
            color: #FFFFFF;
            border: none;
            border-radius: 3px;
            margin-left: 1rem;
        }
    }

    #form-box {
        height: content;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 2em 3.5em;
        border-top: 50px solid #E8E8E8;
        border-left: 2px solid #E8E8E8;
        border-right: 2px solid #E8E8E8;
        border-bottom: 2px solid #E8E8E8;
    }
  
    #form-title {
        font-size: 1.6em;
        padding-bottom: 6px;
        margin-bottom: 25px;
        border-bottom: 1.5px solid #E8E8E8;
    }
  
    .form-header {
        font-size: 10px;
        margin-bottom: 2px;
    }
  
    .form-input {
        width: 70%;
        height: 30px;
        font-size: 16px;
        padding-left: 6px;
    }
  
    .form-input:not(:last-child) {
        margin-bottom: 15px;
    }
  
    input[type=submit] {
        display: block;
        -webkit-appearance: button;
        font-size: 15px;
        width: 135px;
        height: 36px;
        // margin-left: 254px;
        background-color: #E18988;
        color: #FFFFFF;
        border: none;
        border-radius: 3px;
    }
  
    /* Forces .form-input styles onto search type */
    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }
    
}

.underline{
    border-bottom: 4px solid blueviolet;
    padding-bottom: 0.5rem;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.review-form{
    position: relative;
    height: 400px;
    textarea{
        position: absolute;
        left: 4.25rem;
        top: 180px;
    }
    input[type=submit]{
        position: absolute;
        left: 4.25rem;
        top: 280px
    }
}