.book-single-container{
    max-width: 1300px;
    min-height: 82vh;
    height: auto;
    margin: 0 auto;
    border: 1px solid blueviolet;
    .book-single-grid{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        .book-single-img-div{
            padding: 1rem;
            overflow: hidden;
             .book-single-img{
                width: 100%;
                
             }
        }
        .book-single-desc-div{
            padding: 1rem;
        }
        .book-single-price-div{
            border: 3px #ddd solid;
            border-radius: 4px;
            padding: 0.5rem;
        }
        @media(max-width: 600px){
            grid-template-columns: 1fr;
          }
    }
    .rate-grid{
        padding: 0.5rem 0;
        width: 220px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .star-filled{
            color: #FFC700;
        }
        .star-unfilled{
            color: #CCCCCC;
        }
    }

}
