.book-single-container{
    max-width: 1300px;
    min-height: 82vh;
    height: auto;
    margin: 0 auto;
    // border: 1px solid blueviolet;
    font-family: 'Roboto', sans-serif;
    .book-single-grid{
        display: grid;
        line-height: 1.6;
        grid-template-columns: 1fr 3fr 1fr;
        // margin-bottom: 10rem;
        .book-single-img-div{
            
            padding: 1rem;
            position: relative;
             .book-single-img{
                height: 100%;
                width: 100%;
                // background-position: 50%;
                background-size: contain;
                background-repeat: no-repeat;
             }
        }
        .books-book-name{
            overflow: hidden;
            display: inline-block;
            position: relative;
            word-break: normal;
            font-size: 20px!important;
            font-weight: 500;
            color: rgb(17,17,17);
            width: 100%;
            margin-bottom: 0.5rem;
        }
        .books-book-author{
            overflow: hidden;
            display: inline-block;
            position: relative;
            word-break: normal;
            font-size: 16px!important;
            font-weight: 300;
            color: rgb(39, 39, 39);
            width: 100%;
            margin-bottom: 0.5rem;
        }
        .books-book-general{
            overflow: hidden;
            display: inline-block;
            position: relative;
            word-break: normal;
            font-size: 16px!important;
            font-weight: 400;
            color: rgb(39, 39, 39);
            width: 100%;
            
        }
        .book-single-desc-div{
            padding: 1rem;
        }
        .book-single-price-div{
            // border: 3px #ddd solid;
            border-radius: 4px;
            padding: 0.5rem;
            padding-top: 1.5rem;
        }
        @media(max-width: 600px){
            grid-template-columns: 1fr;
          }
    }
    .single-book-review-header{
        overflow: hidden;
        display: inline-block;
        position: relative;
        word-break: normal;
        font-size: 18px!important;
        font-weight: 500;
        color: rgb(25, 25, 25);
        width: 100%;
        margin-top: 1rem;
    }
    .rate-grid{
        // position: absolute;
        // top: 390px;
        // left: 8px;
        padding: 0.5rem 0;
        width: 220px;
        height: 32px;
        display: grid;
        grid-template-columns: 24px 24px 24px 24px 24px auto;
        .star-filled{
            color: #FFC700;
        }
        .star-unfilled{
            color: #CCCCCC;
        }
        .fa-star{
            font-size: 20px;
        }
        .rategrid-count-num{
            align-self: end;
            justify-self: center;
            font-weight: 500;
            // margin-left: 
        }
    }
    .review-book-self{
        overflow: hidden;
        
        display: inline-block;
        position: relative;
        word-break: normal;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 14px!important;
        font-weight: 400;
        color: rgb(35, 35, 35);
        width: 100%;
        font-style: italic;
    }
    .book-price-div{
        display: grid;
        grid-template-columns: 14px auto;
        justify-content: start;
        i{
            justify-self: center;
            font-size: 18px;
        }
        .books-book-price{
            font-size: 26px;
            justify-self: start;
        }

    }
    .book-single-elem-misc{
        // position: absolute;
        // bottom: 0.5rem;
        // left: 0.5rem;
        // right: 0.5rem;
        
        display: grid;
        // border-top: 1px solid #ccc;
        // border-bottom: 1px solid #ccc;
        grid-template-columns: 2fr 1fr;
        // align-content: center;
        justify-content: center;
        // grid-gap: 0.5rem;
        .add-to-cart{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0.2rem;
        }
        .books-main-gatipay-elem{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .fab, .fas{
            font-size: 24px;
            border: none;
            outline: none;
            background-color: transparent;
        }
        .fab{
            color: #E81C27
            
           
        }
        .fas{
            color: #F1AC55;
        }
        button[type=submit]{
            outline: none;
            border: none;
            background: transparent;
        }
        input[type=number]{
            -webkit-appearance: none;
            align-self: center;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid grey;
            background: none;
            height: 28px;
            margin: 0;
            transition: 0.3s;
            box-shadow: inset 0 0 0 none;
        }
    }
    .ag-format-container {
        margin-top: 5rem;
        width: 1200px;
        margin: 0 auto;
        background: #000;
        
      }
      .js-flickity-slider{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 420px;
      }
      
      .flickity-viewport{
          border:none;
      }
      .ag-container-shops {
        padding: 90px 0;
        overflow: hidden;
      }
      .ag-card-bg {
        height: 100%;
        width: 100%;
        // background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        // object-fit: cover;
        // position: absolute;
        // top: 0;
        // left: -50%;
        
        -webkit-transition: height .6s;
        -moz-transition: height .6s;
        -o-transition: height .6s;
        transition: height .6s;
      }
      .ag-shop-card_box-wrap {
        padding: 15px;
      }
      .ag-shop-card_box {
        background-color: #FFF;
        
        overflow: hidden;
        
        -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
        -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
        -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
      
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
      }
      .ag-shop-card_body {
        display: block;
        height: 320px;
        // width: 250px;
        // background-position: 50%;
        // background-size: cover;
        
        overflow: hidden;
      
        // -webkit-transition: .4s;
        // -moz-transition: .4s;
        // -o-transition: .4s;
        // transition: .4s;
        
        position: relative;
      }
    
      .ag-shop-card-body_img {
        max-width: 100%;
      }
      .ag-shop-card_footer {
        padding: 15px 30px;
        border: 0;
        background-color: #FFF;
      
        position: relative;
      }
      .ag-shop-card-footer_title {
        display: block;
        line-height: 1.3;
      
        font-weight: 700;
        font-size: 14px;
        color: #690911;
      }
      .ag-shop-card-footer_products {
        display: block;
        line-height: 1.3;
      
        font-size: 12px;
      }
      
      
      
      
      @media only screen and (max-width: 767px) {
        .ag-format-container {
          width: 96%;
        }
      
      }
      
      @media only screen and (max-width: 639px) {
      
      }
      
      @media only screen and (max-width: 479px) {
      
      }
      
      @media (min-width: 768px) and (max-width: 979px) {
        .ag-format-container {
          width: 750px;
        }
      
      }
      
      @media (min-width: 980px) and (max-width: 1161px) {
        .ag-format-container {
          width: 960px;
        }
      
      }
      
    


}
