@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

strong {
  padding: 0;
  margin: 0; }

label,
a {
  text-decoration: none;
  color: #555; }

ul {
  list-style: none;
  padding: 0; }

header {
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 500;
  background: white;
  font-family: "Rubik", sans-serif; }

.header-content-top {
  background: #9147FF;
  height: 30px;
  width: 100%; }
  .header-content-top .content {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%; }
    .header-content-top .content span {
      color: #fff;
      font-size: 12px;
      margin: 0 15px; }
      .header-content-top .content span .fas {
        margin-right: 5px; }

.header-container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
  position: relative;
  width: 100%; }
  .header-container .logo {
    color: #545bc4;
    font-size: 40px;
    line-height: 20px;
    padding-right: 15px;
    font-family: 'Sansita', sans-serif; }
  .header-container .open-search {
    border-radius: 3px;
    flex: auto;
    margin: 0 15px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 991px) {
      .header-container .open-search {
        margin: 0;
        position: static;
        text-align: right; } }
    .header-container .open-search .fa-search {
      display: none; }
      @media (max-width: 991px) {
        .header-container .open-search .fa-search {
          display: block; } }
    .header-container .open-search .input-open-search {
      display: none; }
      .header-container .open-search .input-open-search:checked ~ .search {
        display: block; }
  @media (max-width: 991px) {
    .header-container .search {
      display: none;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999; } }
  .header-container .search .input-search {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); }
    .header-container .search .input-search:focus {
      background-size: 100% 2px, 100% 1px;
      outline: none; }
  .header-container .search .button-search {
    background: #9147FF;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px; }
    .header-container .search .button-search .fa-search {
      display: block; }
  .header-container .nav-content .nav-content-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px; }
    .header-container .nav-content .nav-content-list .nav-content-item {
      align-items: center;
      display: flex;
      height: 40px;
      margin: 0 5px;
      position: relative;
      transition: 100ms all linear 0s; }
      .header-container .nav-content .nav-content-list .nav-content-item .special-nav-item {
        position: relative; }
        .header-container .nav-content .nav-content-list .nav-content-item .special-nav-item .cart-size-span {
          position: absolute;
          right: -8px;
          bottom: -8px;
          padding: 4px;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          font-size: 10px;
          color: white;
          background: #545bc4;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .nav-content-item {
          padding: 0 5px; } }
      .header-container .nav-content .nav-content-list .nav-content-item .item-arrow {
        margin-left: 5px;
        position: relative;
        top: -3px; }
        @media (max-width: 768px) {
          .header-container .nav-content .nav-content-list .nav-content-item .item-arrow {
            display: none; } }
      .header-container .nav-content .nav-content-list .nav-content-item .open-menu-login-account {
        align-items: center;
        cursor: pointer;
        display: flex;
        position: relative; }
      .header-container .nav-content .nav-content-list .nav-content-item .input-menu {
        display: none; }
        .header-container .nav-content .nav-content-list .nav-content-item .input-menu:checked ~ .login-list {
          display: block; }
      .header-container .nav-content .nav-content-list .nav-content-item .login-list {
        background: #fff;
        border-bottom: 3px solid #9147FF;
        border-radius: 3px;
        box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
        display: none;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 28px;
        transition: 100ms all linear 0s;
        width: 200px;
        z-index: 10; }
        .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item {
          padding: 15px 20px; }
          .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover {
            background: #545bc4; }
            .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover a {
              color: #fff; }
    .header-container .nav-content .nav-content-list .nav-content-item:nth-child(2):hover .fas {
      color: #e74c3c; }
    .header-container .nav-content .nav-content-list .nav-content-item:hover .fas {
      color: #545bc4; }
    .header-container .nav-content .nav-content-list .account-login .login-text {
      align-items: end;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-left: 5px; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .account-login .login-text {
          display: none; } }
      .header-container .nav-content .nav-content-list .account-login .login-text strong {
        display: block; }
    .header-container .nav-content .nav-content-list .nav-content-link {
      border-radius: 3px;
      font-size: 19px;
      padding: 10px 15px;
      transition: 100ms all linear 0s; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .nav-content-link {
          padding: 0; } }

.nav-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }
  .nav-container .nav-row {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
    @media (max-width: 991px) {
      .nav-container .nav-row {
        display: none; } }
    .nav-container .nav-row .nav-row-list {
      flex: auto; }
      .nav-container .nav-row .nav-row-list .nav-row-list-link {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 0 8px;
        text-align: center;
        transition: 100ms all linear 0s; }
        .nav-container .nav-row .nav-row-list .nav-row-list-link:hover {
          background: #e1e1e1; }
  .nav-container .featured-category {
    flex: auto;
    margin: 0 15px 0 0; }
    @media (max-width: 991px) {
      .nav-container .featured-category {
        display: none; } }
  .nav-container .all-navigator {
    align-items: center;
    background: #9147FF;
    color: #fff;
    display: flex;
    height: 40px;
    padding: 0 25px;
    width: 100%; }
    @media (max-width: 991px) {
      .nav-container .all-navigator {
        margin-right: 0; } }
    .nav-container .all-navigator .fa-angle-up,
    .nav-container .all-navigator .fa-angle-down {
      position: absolute;
      right: 25px; }
    .nav-container .all-navigator .fa-angle-up {
      display: none; }
    .nav-container .all-navigator .fas {
      font-size: 16px;
      margin-right: 0; }
    .nav-container .all-navigator span {
      margin-left: 15px; }
  .nav-container .all-category-nav {
    display: none;
    cursor: pointer;
    max-width: 300px;
    position: relative;
    width: 100%; }
    @media (max-width: 991px) {
      .nav-container .all-category-nav {
        max-width: 100%;
        display: inline-block; } }
    .nav-container .all-category-nav .open-menu-all {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative; }
    .nav-container .all-category-nav .input-menu-all {
      display: none; }
      .nav-container .all-category-nav .input-menu-all:checked ~ .all-category-list {
        display: block; }
      .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-down {
        display: none; }
      .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-up {
        display: block; }
  .nav-container .all-category-list {
    background: #fff;
    border-bottom: 3px solid #9147FF;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    height: auto;
    min-height: 300px;
    padding: 15px 0;
    position: absolute;
    top: 40px;
    width: 300px;
    z-index: 1000; }
    @media (max-width: 991px) {
      .nav-container .all-category-list {
        min-width: 100%; } }
  .nav-container .all-category-list-item:hover {
    display: block;
    background: #9147FF; }
    .nav-container .all-category-list-item:hover .category-second-list {
      left: 100%;
      opacity: 1;
      visibility: visible; }
    .nav-container .all-category-list-item:hover .all-category-list-link {
      color: #fff; }
  .nav-container .all-category-list-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 2px 0;
    transition: 100ms all linear 0s; }
  .nav-container .category-second-list {
    background: #fff;
    border-bottom: 3px solid #9147FF;
    box-shadow: inset 44px -1px 88px -59px rgba(0, 0, 0, 0.37);
    display: flex;
    height: 322px;
    left: 80%;
    min-height: 297px;
    min-width: 400px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 100ms all linear 0s;
    visibility: hidden;
    width: auto; }
    @media (max-width: 991px) {
      .nav-container .category-second-list {
        display: none; } }
    .nav-container .category-second-list .img-product-menu img {
      max-width: 180px; }
  .nav-container .category-second-list-ul {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0 15px; }
  .nav-container .category-second-item a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px; }
  .nav-container .category-second-item:hover {
    background: #9147FF; }
    .nav-container .category-second-item:hover a {
      color: #fff; }

.fa-bars {
  font-size: 28px; }

.footer-content-bottom {
  background: #9147FF;
  min-height: 40px;
  width: 100%;
  text-align: center; }

.footer {
  text-align: center;
  letter-spacing: 1px;
  background: #9147FF;
  color: #fff;
  font-size: 12px;
  font-family: Rubik, sans-serif;
  padding: 0.5rem 0; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

/* Generic */
.login-container {
  width: 100%;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #ecf0f3;
  color: #a0a5a8; }

/**/
.login-main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: #ecf0f3;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  border-radius: 12px;
  overflow: hidden; }

.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: #ecf0f3;
  transition: 1.25s; }

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .form__icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: .5;
    transition: .15s; }
    .form__icon:hover {
      opacity: 1;
      transition: .15s;
      cursor: pointer; }
  .form__input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: .15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f3;
    transition: .25s ease;
    border-radius: 6px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9; }
    .form__input:focus {
      box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9; }
  .form__span {
    margin-top: 30px;
    margin-bottom: 12px; }
  .form__link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2; }

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818; }

.description {
  font-size: 14px;
  letter-spacing: .25px;
  text-align: center;
  line-height: 1.6; }

.button {
  width: 180px;
  height: 50px;
  border-radius: 6px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #9147FF;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none; }

/**/
.a-container {
  z-index: 100;
  left: calc(100% - 600px); }

.b-container {
  left: calc(100% - 600px);
  z-index: 0; }

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #ecf0f3;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9; }
  .switch__circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
    bottom: -60%;
    left: -60%;
    transition: 1.25s; }
    .switch__circle--t {
      top: -30%;
      left: 60%;
      width: 300px;
      height: 300px; }
  .switch__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s; }
  .switch__button {
    cursor: pointer; }
    .switch__button:hover {
      box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
      transform: scale(0.985);
      transition: .25s; }
    .switch__button:active, .switch__button:focus {
      box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
      transform: scale(0.97);
      transition: .25s; }

/**/
.is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left; }

.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right; }

.is-z200 {
  z-index: 200;
  transition: 1.25s; }

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s; }

.is-gx {
  animation: is-gx 1.25s; }

@keyframes is-gx {
  0%, 10%, 100% {
    width: 400px; }
  30%, 50% {
    width: 500px; } }

.books-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  border: 1px solid blueviolet; }
  .books-container .books-main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 440px;
    grid-gap: 1.5rem; }
    .books-container .books-main-grid .books-main-grid-elem {
      padding: 0.5rem;
      position: relative; }
    .books-container .books-main-grid .books-main-grid-elem-img {
      width: 75%;
      max-height: 306px;
      align-self: center; }
      .books-container .books-main-grid .books-main-grid-elem-img .books-main-single-image {
        width: 100%;
        min-width: 100%;
        max-height: 306px;
        object-fit: cover;
        min-height: 306px; }
    .books-container .books-main-grid .rate-grid {
      padding: 0.5rem 0;
      width: 220px;
      display: grid;
      grid-template-columns: repeat(5, 1fr); }
      .books-container .books-main-grid .rate-grid .star-filled {
        color: #FFC700; }
      .books-container .books-main-grid .rate-grid .star-unfilled {
        color: #CCCCCC; }
  .books-container .books-main-elem-misc {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    grid-gap: 0.5rem; }
    .books-container .books-main-elem-misc .add-to-cart {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem; }
    .books-container .books-main-elem-misc .books-main-gatipay-elem {
      display: flex;
      justify-content: center;
      align-items: center; }

.books-main-grid-elem-div {
  margin: 0.5rem; }

.book-single-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  border: 1px solid blueviolet; }
  .book-single-container .book-single-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; }
    .book-single-container .book-single-grid .book-single-img-div {
      padding: 1rem; }
    .book-single-container .book-single-grid .book-single-desc-div {
      padding: 1rem; }
    .book-single-container .book-single-grid .book-single-price-div {
      border: 3px #ddd solid;
      border-radius: 4px;
      padding: 0.5rem; }
    @media (max-width: 600px) {
      .book-single-container .book-single-grid {
        grid-template-columns: 1fr; } }
  .book-single-container .rate-grid {
    padding: 0.5rem 0;
    width: 220px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .book-single-container .rate-grid .star-filled {
      color: #FFC700; }
    .book-single-container .rate-grid .star-unfilled {
      color: #CCCCCC; }

.cart-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  position: relative;
  border: 1px solid blueviolet; }
  .cart-container .cart-main-grid {
    display: grid;
    grid-template-columns: 1fr; }
    .cart-container .cart-main-grid .cart-main-grid-single-elem {
      border-top: 1px solid #eee;
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-img-div {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-desc-div {
        padding: 1rem; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div {
        border: 3px #ddd solid;
        border-radius: 4px;
        padding: 0.5rem; }
  .cart-container .cart-total-price-div {
    position: absolute;
    right: 1rem; }
    @media (max-width: 600px) {
      .cart-container .cart-total-price-div {
        width: 100%; } }

.cart-single-img {
  width: 60%; }

.review-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  position: relative;
  border: 1px solid blueviolet; }
  .review-container .review-main-grid {
    display: grid;
    grid-template-columns: 1fr; }
    .review-container .review-main-grid .review-main-grid-single-elem {
      border-top: 1px solid #eee;
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 4fr; }
      .review-container .review-main-grid .review-main-grid-single-elem .review-single-img-div {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .review-container .review-main-grid .review-main-grid-single-elem .review-single-desc-div {
        padding: 1rem; }
    .review-container .review-main-grid .rate-grid {
      padding: 0.5rem 0;
      width: 220px;
      display: grid;
      grid-template-columns: repeat(5, 1fr); }
      .review-container .review-main-grid .rate-grid .star-filled {
        color: #FFC700; }
      .review-container .review-main-grid .rate-grid .star-unfilled {
        color: #CCCCCC; }

.review-single-img {
  width: 100%; }

.underline {
  text-decoration: underline;
  text-decoration-color: blueviolet; }

.rate {
  float: left;
  height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #ffc700; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08; }

.alert-success {
  color: green;
  background: white;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
  font-family: 'Source Code Pro', monospace; }

.alert-error {
  color: #8c0101;
  padding: 0.25rem 0.5rem;
  background: white;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
  font-family: 'Source Code Pro', monospace; }

.purchases-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  border: 1px solid blueviolet; }
  .purchases-container .purchase-outer-grid {
    border-top: 1px solid #555; }
  .purchases-container .purchases-main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 440px;
    grid-gap: 1.5rem; }
    .purchases-container .purchases-main-grid .books-purchases-grid-elem {
      padding: 0.5rem;
      position: relative; }
    .purchases-container .purchases-main-grid .books-purchases-grid-elem-img {
      width: 75%;
      max-height: 306px;
      align-self: center; }
      .purchases-container .purchases-main-grid .books-purchases-grid-elem-img .books-purchases-single-image {
        width: 100%;
        min-width: 100%;
        max-height: 306px;
        object-fit: cover;
        min-height: 306px; }
    .purchases-container .purchases-main-grid .rate-grid {
      padding: 0.5rem 0;
      width: 220px;
      display: grid;
      grid-template-columns: repeat(5, 1fr); }
      .purchases-container .purchases-main-grid .rate-grid .star-filled {
        color: #FFC700; }
      .purchases-container .purchases-main-grid .rate-grid .star-unfilled {
        color: #CCCCCC; }

.books-purchases-grid-elem-div {
  margin: 0.5rem; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #f1f2f7;
  font-family: 'Open Sans', arial, sans-serif;
  color: darkslategray; }

body.login {
  background-color: white;
  max-width: 500px;
  margin: 10vh auto;
  padding: 1em;
  height: auto; }

/* general utility classes */
.warn {
  color: lightsalmon; }

/* header */
header[role=banner] {
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }
  header[role=banner] h1 {
    margin: 0;
    font-weight: 300;
    padding: 1rem; }
    header[role=banner] h1:before {
      content: "\f248";
      font-family: FontAwesome;
      padding-right: .6em;
      color: turquoise; }
  header[role=banner] .utilities {
    width: 100%;
    background: slategray;
    color: #ddd; }
    header[role=banner] .utilities li {
      border-bottom: solid 1px rgba(255, 255, 255, 0.2); }
      header[role=banner] .utilities li a {
        padding: .7em;
        display: block; }

/* header */
.utilities a:before {
  content: "\f248";
  font-family: FontAwesome;
  padding-right: .6em; }

.logout a:before {
  content: ""; }

.users a:before {
  content: ""; }

nav[role=navigation] {
  background: #2a3542;
  color: #ddd;
  /* icons */ }
  nav[role=navigation] li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08); }
    nav[role=navigation] li a {
      color: #ddd;
      text-decoration: none;
      display: block;
      padding: .7em; }
      nav[role=navigation] li a:hover {
        background-color: rgba(255, 255, 255, 0.05); }
      nav[role=navigation] li a:before {
        content: "\f248";
        font-family: FontAwesome;
        padding-right: .6em; }
  nav[role=navigation] .dashboard a:before {
    content: ""; }
  nav[role=navigation] .write a:before {
    content: ""; }
  nav[role=navigation] .edit a:before {
    content: ""; }
  nav[role=navigation] .comments a:before {
    content: ""; }
  nav[role=navigation] .users a:before {
    content: ""; }

/* current nav item */
.current, .dashboard .dashboard a, .write .write a, .edit .edit a, .comments .comments a, .users .users a {
  background-color: rgba(255, 255, 255, 0.1); }

footer[role=contentinfo] {
  background: slategray;
  color: #ddd;
  font-size: .8em;
  text-align: center;
  padding: .2em; }

/* panels */
.panel {
  background-color: white;
  color: darkslategray;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  border-radius: .3rem;
  margin: 1%; }
  .panel > h2, .panel > ul {
    margin: 1rem; }

/* typography */
a {
  text-decoration: none;
  color: inherit; }

h2,
h3,
h4 {
  font-weight: 300;
  margin: 0; }

h2 {
  color: #1eb6a7; }

b {
  color: lightsalmon; }

.hint {
  color: lightslategray; }

/* lists */
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

main li {
  position: relative;
  padding-left: 1.2em;
  margin: .5em  0; }
  main li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: .3em;
    border-left: solid 10px #dde;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent; }

/* forms */
form input, form textarea, form select {
  width: 100%;
  display: block;
  border: solid 1px #dde;
  padding: .5em; }
  form input:after, form textarea:after, form select:after {
    content: "";
    display: table;
    clear: both; }

form input[type=checkbox], form input[type=radio] {
  display: inline;
  width: auto; }

form label, form legend {
  display: block;
  margin: 1em 0 .5em; }

form input[type=submit] {
  background: turquoise;
  border: none;
  border-bottom: solid 4px #21ccbb;
  padding: .7em 3em;
  margin: 1em 0;
  color: white;
  text-shadow: 0 -1px 0 #21ccbb;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  width: auto;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  border-radius: .5em; }

form input[type=submit]:hover {
  background: khaki;
  border: none;
  border-bottom: solid 4px #eadc5f;
  padding: .7em 3em;
  margin: 1em 0;
  color: white;
  text-shadow: 0 -1px 0 #eadc5f;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  width: auto;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  border-radius: .5em; }

/* feedback */
.error {
  background-color: #ffe9e0;
  border-color: #ffc4ad; }

label.error {
  padding: .2em .5em; }

.feedback {
  background: #fcfae6;
  color: #857a11;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px khaki; }
  .feedback:before {
    content: "";
    font-family: fontawesome;
    color: #e4d232;
    margin-left: -1.5em;
    margin-right: .5em; }
  .feedback li:before {
    border-left-color: #f6f0b9; }
  .feedback.error {
    background: #ffe9e0;
    color: #942a00;
    margin: 1em;
    padding: .5em .5em .5em 2em;
    border: solid 1px lightsalmon; }
    .feedback.error:before {
      content: "";
      font-family: fontawesome;
      color: #ff5714;
      margin-left: -1.5em;
      margin-right: .5em; }
    .feedback.error li:before {
      border-left-color: #ffc4ad; }
  .feedback.success {
    background: #98eee6;
    color: #08322e;
    margin: 1em;
    padding: .5em .5em .5em 2em;
    border: solid 1px turquoise; }
    .feedback.success:before {
      content: "";
      font-family: fontawesome;
      color: #1aa093;
      margin-left: -1.5em;
      margin-right: .5em; }
    .feedback.success li:before {
      border-left-color: #6ce7db; }

/* tables */
table {
  border-collapse: collapse;
  width: 96%;
  margin: 2%; }

th {
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  padding-bottom: 14px; }

tr:not(:first-child):hover {
  background: rgba(0, 0, 0, 0.1); }

td {
  line-height: 40px;
  font-weight: 300;
  padding: 0 10px; }

@media screen and (min-width: 600px) {
  html, body {
    height: 100%; }
  header[role=banner] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 75px; }
    header[role=banner] .utilities {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      color: darkslategray;
      width: auto; }
      header[role=banner] .utilities li {
        display: inline-block; }
        header[role=banner] .utilities li a {
          padding: .5em 1em; }
  nav[role=navigation] {
    position: fixed;
    width: 200px;
    top: 75px;
    bottom: 0px; }
  main[role=main] {
    margin: 75px 0 40px 200px; }
    main[role=main]:after {
      content: "";
      display: table;
      clear: both; }
  .panel {
    margin: 2% 0 0 2%;
    float: left;
    width: 96%; }
    .panel:after {
      content: "";
      display: table;
      clear: both; }
  .box, .onethird, .twothirds {
    padding: 1rem; }
  .onethird {
    width: 33.333%;
    float: left; }
  .twothirds {
    width: 66%;
    float: left; }
  footer[role=contentinfo] {
    clear: both;
    margin-left: 200px; } }

@media screen and (min-width: 900px) {
  footer[role=contentinfo] {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0px;
    margin: 0; }
  .panel {
    width: 47%;
    clear: none; }
    .panel.important {
      width: 96%; }
    .panel.secondary {
      width: 23%; } }
