html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

strong {
  padding: 0;
  margin: 0; }

label,
a {
  text-decoration: none;
  color: #555; }

ul {
  list-style: none;
  padding: 0; }

header {
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 500;
  background: white;
  font-family: "Rubik", sans-serif; }

.header-content-top {
  background: #9147FF;
  height: 30px;
  width: 100%; }
  .header-content-top .content {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%; }
    .header-content-top .content span {
      color: #fff;
      font-size: 12px;
      margin: 0 15px; }
      .header-content-top .content span .fas {
        margin-right: 5px; }

.header-container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
  position: relative;
  width: 100%; }
  .header-container .logo {
    color: #545bc4;
    font-size: 40px;
    line-height: 20px;
    padding-right: 15px;
    font-family: 'Sansita', sans-serif; }
  .header-container .open-search {
    border-radius: 3px;
    flex: auto;
    margin: 0 15px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 991px) {
      .header-container .open-search {
        margin: 0;
        position: static;
        text-align: right; } }
    .header-container .open-search .fa-search {
      display: none; }
      @media (max-width: 991px) {
        .header-container .open-search .fa-search {
          display: block; } }
    .header-container .open-search .input-open-search {
      display: none; }
      .header-container .open-search .input-open-search:checked ~ .search {
        display: block; }
  @media (max-width: 991px) {
    .header-container .search {
      display: none;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999; } }
  .header-container .search .input-search {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); }
    .header-container .search .input-search:focus {
      background-size: 100% 2px, 100% 1px;
      outline: none; }
  .header-container .search .button-search {
    background: #9147FF;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px; }
    .header-container .search .button-search .fa-search {
      display: block; }
  .header-container .nav-content .nav-content-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px; }
    .header-container .nav-content .nav-content-list .nav-content-item {
      align-items: center;
      display: flex;
      height: 40px;
      margin: 0 5px;
      position: relative;
      transition: 100ms all linear 0s; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .nav-content-item {
          padding: 0 5px; } }
      .header-container .nav-content .nav-content-list .nav-content-item .item-arrow {
        margin-left: 5px;
        position: relative;
        top: -3px; }
        @media (max-width: 768px) {
          .header-container .nav-content .nav-content-list .nav-content-item .item-arrow {
            display: none; } }
      .header-container .nav-content .nav-content-list .nav-content-item .open-menu-login-account {
        align-items: center;
        cursor: pointer;
        display: flex;
        position: relative; }
      .header-container .nav-content .nav-content-list .nav-content-item .input-menu {
        display: none; }
        .header-container .nav-content .nav-content-list .nav-content-item .input-menu:checked ~ .login-list {
          display: block; }
      .header-container .nav-content .nav-content-list .nav-content-item .login-list {
        background: #fff;
        border-bottom: 3px solid #9147FF;
        border-radius: 3px;
        box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
        display: none;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 28px;
        transition: 100ms all linear 0s;
        width: 200px;
        z-index: 10; }
        .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item {
          padding: 15px 20px; }
          .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover {
            background: #545bc4; }
            .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover a {
              color: #fff; }
    .header-container .nav-content .nav-content-list .nav-content-item:nth-child(2):hover .fas {
      color: #e74c3c; }
    .header-container .nav-content .nav-content-list .nav-content-item:hover .fas {
      color: #545bc4; }
    .header-container .nav-content .nav-content-list .account-login .login-text {
      align-items: end;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-left: 5px; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .account-login .login-text {
          display: none; } }
      .header-container .nav-content .nav-content-list .account-login .login-text strong {
        display: block; }
    .header-container .nav-content .nav-content-list .nav-content-link {
      border-radius: 3px;
      font-size: 19px;
      padding: 10px 15px;
      transition: 100ms all linear 0s; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .nav-content-link {
          padding: 0; } }

.nav-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }
  .nav-container .nav-row {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
    @media (max-width: 991px) {
      .nav-container .nav-row {
        display: none; } }
    .nav-container .nav-row .nav-row-list {
      flex: auto; }
      .nav-container .nav-row .nav-row-list .nav-row-list-link {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 0 8px;
        text-align: center;
        transition: 100ms all linear 0s; }
        .nav-container .nav-row .nav-row-list .nav-row-list-link:hover {
          background: #e1e1e1; }
  .nav-container .featured-category {
    flex: auto;
    margin: 0 15px 0 0; }
    @media (max-width: 991px) {
      .nav-container .featured-category {
        display: none; } }
  .nav-container .all-navigator {
    align-items: center;
    background: #9147FF;
    color: #fff;
    display: flex;
    height: 40px;
    padding: 0 25px;
    width: 100%; }
    @media (max-width: 991px) {
      .nav-container .all-navigator {
        margin-right: 0; } }
    .nav-container .all-navigator .fa-angle-up,
    .nav-container .all-navigator .fa-angle-down {
      position: absolute;
      right: 25px; }
    .nav-container .all-navigator .fa-angle-up {
      display: none; }
    .nav-container .all-navigator .fas {
      font-size: 16px;
      margin-right: 0; }
    .nav-container .all-navigator span {
      margin-left: 15px; }
  .nav-container .all-category-nav {
    cursor: pointer;
    max-width: 300px;
    position: relative;
    width: 100%; }
    @media (max-width: 991px) {
      .nav-container .all-category-nav {
        max-width: 100%; } }
    .nav-container .all-category-nav .open-menu-all {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative; }
    .nav-container .all-category-nav .input-menu-all {
      display: none; }
      .nav-container .all-category-nav .input-menu-all:checked ~ .all-category-list {
        display: block; }
      .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-down {
        display: none; }
      .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-up {
        display: block; }
  .nav-container .all-category-list {
    background: #fff;
    border-bottom: 3px solid #9147FF;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    height: auto;
    min-height: 300px;
    padding: 15px 0;
    position: absolute;
    top: 40px;
    width: 300px;
    z-index: 1000; }
    @media (max-width: 991px) {
      .nav-container .all-category-list {
        min-width: 100%; } }
  .nav-container .all-category-list-item:hover {
    display: block;
    background: #9147FF; }
    .nav-container .all-category-list-item:hover .category-second-list {
      left: 100%;
      opacity: 1;
      visibility: visible; }
    .nav-container .all-category-list-item:hover .all-category-list-link {
      color: #fff; }
  .nav-container .all-category-list-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 2px 0;
    transition: 100ms all linear 0s; }
  .nav-container .category-second-list {
    background: #fff;
    border-bottom: 3px solid #9147FF;
    box-shadow: inset 44px -1px 88px -59px rgba(0, 0, 0, 0.37);
    display: flex;
    height: 322px;
    left: 80%;
    min-height: 297px;
    min-width: 400px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 100ms all linear 0s;
    visibility: hidden;
    width: auto; }
    @media (max-width: 991px) {
      .nav-container .category-second-list {
        display: none; } }
    .nav-container .category-second-list .img-product-menu img {
      max-width: 180px; }
  .nav-container .category-second-list-ul {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0 15px; }
  .nav-container .category-second-item a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px; }
  .nav-container .category-second-item:hover {
    background: #9147FF; }
    .nav-container .category-second-item:hover a {
      color: #fff; }

.fa-bars {
  font-size: 28px; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

/* Generic */
.login-container {
  width: 100%;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #ecf0f3;
  color: #a0a5a8; }

/**/
.login-main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: #ecf0f3;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  border-radius: 12px;
  overflow: hidden; }

.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: #ecf0f3;
  transition: 1.25s; }

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .form__icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: .5;
    transition: .15s; }
    .form__icon:hover {
      opacity: 1;
      transition: .15s;
      cursor: pointer; }
  .form__input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: .15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f3;
    transition: .25s ease;
    border-radius: 6px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9; }
    .form__input:focus {
      box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9; }
  .form__span {
    margin-top: 30px;
    margin-bottom: 12px; }
  .form__link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2; }

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818; }

.description {
  font-size: 14px;
  letter-spacing: .25px;
  text-align: center;
  line-height: 1.6; }

.button {
  width: 180px;
  height: 50px;
  border-radius: 6px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #9147FF;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none; }

/**/
.a-container {
  z-index: 100;
  left: calc(100% - 600px); }

.b-container {
  left: calc(100% - 600px);
  z-index: 0; }

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #ecf0f3;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9; }
  .switch__circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
    bottom: -60%;
    left: -60%;
    transition: 1.25s; }
    .switch__circle--t {
      top: -30%;
      left: 60%;
      width: 300px;
      height: 300px; }
  .switch__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s; }
  .switch__button {
    cursor: pointer; }
    .switch__button:hover {
      box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
      transform: scale(0.985);
      transition: .25s; }
    .switch__button:active, .switch__button:focus {
      box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
      transform: scale(0.97);
      transition: .25s; }

/**/
.is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left; }

.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right; }

.is-z200 {
  z-index: 200;
  transition: 1.25s; }

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s; }

.is-gx {
  animation: is-gx 1.25s; }

@keyframes is-gx {
  0%, 10%, 100% {
    width: 400px; }
  30%, 50% {
    width: 500px; } }

.books-container {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  border: 1px solid blueviolet; }
  .books-container .books-main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 440px;
    grid-gap: 1.5rem; }
    .books-container .books-main-grid .books-main-grid-elem {
      padding: 0.5rem;
      position: relative; }
    .books-container .books-main-grid .books-main-grid-elem-img {
      width: 75%;
      max-height: 306px;
      align-self: center; }
      .books-container .books-main-grid .books-main-grid-elem-img .books-main-single-image {
        width: 100%;
        min-width: 100%;
        max-height: 306px;
        min-height: 306px; }
  .books-container .books-main-elem-misc {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    grid-gap: 0.5rem; }
    .books-container .books-main-elem-misc .add-to-cart {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem; }
    .books-container .books-main-elem-misc .books-main-gatipay-elem {
      display: flex;
      justify-content: center;
      align-items: center; }

.books-main-grid-elem-div {
  margin: 0.5rem; }

.book-single-container {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  border: 1px solid blueviolet; }
  .book-single-container .book-single-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; }
    .book-single-container .book-single-grid .book-single-img-div {
      padding: 1rem; }
    .book-single-container .book-single-grid .book-single-desc-div {
      padding: 1rem; }
    .book-single-container .book-single-grid .book-single-price-div {
      border: 3px #ddd solid;
      border-radius: 4px;
      padding: 0.5rem; }
    @media (max-width: 600px) {
      .book-single-container .book-single-grid {
        grid-template-columns: 1fr; } }

.cart-container {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  position: relative;
  border: 1px solid blueviolet; }
  .cart-container .cart-main-grid {
    display: grid;
    grid-template-columns: 1fr; }
    .cart-container .cart-main-grid .cart-main-grid-single-elem {
      border-top: 1px solid #eee;
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-img-div {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-desc-div {
        padding: 1rem; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div {
        border: 3px #ddd solid;
        border-radius: 4px;
        padding: 0.5rem; }
  .cart-container .cart-total-price-div {
    position: absolute;
    right: 1rem; }
    @media (max-width: 600px) {
      .cart-container .cart-total-price-div {
        width: 100%; } }

.cart-single-img {
  width: 60%; }
