@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

strong {
  padding: 0;
  margin: 0; }

label,
a {
  text-decoration: none;
  color: #555; }

ul {
  list-style: none;
  padding: 0; }

header {
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 500;
  background: white;
  font-family: "Rubik", sans-serif;
  max-height: 140px; }

.header-content-top {
  background: #90D2C3;
  height: 30px;
  width: 100%; }
  .header-content-top .content {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%; }
    .header-content-top .content span {
      color: #fff;
      font-size: 12px;
      margin: 0 15px; }
      .header-content-top .content span .fas {
        margin-right: 5px; }

.header-container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
  position: relative;
  width: 100%; }
  .header-container .logo {
    color: #251E3E;
    font-size: 40px;
    line-height: 20px;
    padding-right: 15px;
    font-family: 'Sansita', sans-serif; }
  .header-container .open-search {
    border-radius: 3px;
    flex: auto;
    margin: 0 15px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 991px) {
      .header-container .open-search {
        margin: 0;
        position: static;
        text-align: right; } }
    .header-container .open-search .fa-search {
      display: none; }
      @media (max-width: 991px) {
        .header-container .open-search .fa-search {
          display: block; } }
    .header-container .open-search .input-open-search {
      display: none; }
      .header-container .open-search .input-open-search:checked ~ .search {
        display: block; }
  @media (max-width: 991px) {
    .header-container .search {
      display: none;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999; } }
  .header-container .search .input-search {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); }
    .header-container .search .input-search:focus {
      background-size: 100% 2px, 100% 1px;
      outline: none; }
  .header-container .search .button-search {
    background: #90D2C3;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px; }
    .header-container .search .button-search .fa-search {
      display: block; }
  .header-container .nav-content .nav-content-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px; }
    .header-container .nav-content .nav-content-list .nav-content-item {
      align-items: center;
      display: flex;
      height: 40px;
      margin: 0 5px;
      position: relative;
      transition: 100ms all linear 0s; }
      .header-container .nav-content .nav-content-list .nav-content-item .special-nav-item {
        position: relative; }
        .header-container .nav-content .nav-content-list .nav-content-item .special-nav-item .cart-size-span {
          position: absolute;
          right: -8px;
          bottom: -8px;
          padding: 4px;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          font-size: 10px;
          color: white;
          background: #545bc4;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .nav-content-item {
          padding: 0 5px; } }
      .header-container .nav-content .nav-content-list .nav-content-item .item-arrow {
        margin-left: 5px;
        position: relative;
        top: -3px; }
        @media (max-width: 768px) {
          .header-container .nav-content .nav-content-list .nav-content-item .item-arrow {
            display: none; } }
      .header-container .nav-content .nav-content-list .nav-content-item .open-menu-login-account {
        align-items: center;
        cursor: pointer;
        display: flex;
        position: relative; }
      .header-container .nav-content .nav-content-list .nav-content-item .input-menu {
        display: none; }
        .header-container .nav-content .nav-content-list .nav-content-item .input-menu:checked ~ .login-list {
          display: block; }
      .header-container .nav-content .nav-content-list .nav-content-item .login-list {
        background: #fff;
        border-bottom: 3px solid #90D2C3;
        border-radius: 3px;
        box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
        display: none;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 28px;
        transition: 100ms all linear 0s;
        width: 200px;
        z-index: 10; }
        .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item {
          padding: 15px 20px; }
          .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover {
            background: #545bc4; }
            .header-container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover a {
              display: inline-block;
              width: 100%;
              color: #fff; }
    .header-container .nav-content .nav-content-list .nav-content-item:nth-child(2):hover .fas {
      color: #e74c3c; }
    .header-container .nav-content .nav-content-list .nav-content-item:hover .fas {
      color: #545bc4; }
    .header-container .nav-content .nav-content-list .account-login .login-text {
      align-items: end;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-left: 5px; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .account-login .login-text {
          display: none; } }
      .header-container .nav-content .nav-content-list .account-login .login-text strong {
        display: block; }
    .header-container .nav-content .nav-content-list .nav-content-link {
      border-radius: 3px;
      font-size: 19px;
      padding: 10px 15px;
      transition: 100ms all linear 0s; }
      @media (max-width: 991px) {
        .header-container .nav-content .nav-content-list .nav-content-link {
          padding: 0; } }

.nav-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }
  .nav-container .nav-row {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
    @media (max-width: 991px) {
      .nav-container .nav-row {
        display: none; } }
    .nav-container .nav-row .nav-row-list {
      flex: auto; }
      .nav-container .nav-row .nav-row-list .nav-row-list-link {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 0 8px;
        text-align: center;
        transition: 100ms all linear 0s; }
        .nav-container .nav-row .nav-row-list .nav-row-list-link:hover {
          background: #e1e1e1; }
  .nav-container .featured-category {
    flex: auto;
    margin: 0 15px 0 0; }
    @media (max-width: 991px) {
      .nav-container .featured-category {
        display: none; } }
  .nav-container .all-navigator {
    align-items: center;
    background: #90D2C3;
    color: #fff;
    display: flex;
    height: 40px;
    padding: 0 25px;
    width: 100%; }
    @media (max-width: 991px) {
      .nav-container .all-navigator {
        margin-right: 0; } }
    .nav-container .all-navigator .fa-angle-up,
    .nav-container .all-navigator .fa-angle-down {
      position: absolute;
      right: 25px; }
    .nav-container .all-navigator .fa-angle-up {
      display: none; }
    .nav-container .all-navigator .fas {
      font-size: 16px;
      margin-right: 0; }
    .nav-container .all-navigator span {
      margin-left: 15px; }
  .nav-container .all-category-nav {
    cursor: pointer;
    max-width: 300px;
    position: relative;
    width: 100%; }
    @media (max-width: 991px) {
      .nav-container .all-category-nav {
        max-width: 100%; } }
    .nav-container .all-category-nav .open-menu-all {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative; }
    .nav-container .all-category-nav .input-menu-all {
      display: none; }
      .nav-container .all-category-nav .input-menu-all:checked ~ .all-category-list {
        display: block; }
      .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-down {
        display: none; }
      .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-up {
        display: block; }
  .nav-container .all-category-list {
    background: #fff;
    border-bottom: 3px solid #90D2C3;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    height: auto;
    min-height: 300px;
    padding: 15px 0;
    position: absolute;
    top: 40px;
    width: 300px;
    z-index: 1000; }
    @media (max-width: 991px) {
      .nav-container .all-category-list {
        min-width: 100%; } }
  .nav-container .all-category-list-item:hover {
    display: block;
    background: #90D2C3; }
    .nav-container .all-category-list-item:hover .category-second-list {
      left: 100%;
      opacity: 1;
      visibility: visible; }
    .nav-container .all-category-list-item:hover .all-category-list-link {
      color: #fff; }
  .nav-container .all-category-list-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 2px 0;
    transition: 100ms all linear 0s; }
  .nav-container .category-second-list {
    background: #fff;
    border-bottom: 3px solid #90D2C3;
    display: flex;
    height: 322px;
    left: 80%;
    min-height: 297px;
    min-width: 400px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 100ms all linear 0s;
    visibility: hidden;
    width: auto; }
    @media (max-width: 991px) {
      .nav-container .category-second-list {
        display: none; } }
    .nav-container .category-second-list .img-product-menu img {
      max-width: 180px; }
  .nav-container .category-second-list-ul {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0 15px; }
  .nav-container .category-second-item {
    border-bottom: 1px solid #ddd; }
    .nav-container .category-second-item a {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 15px; }
    .nav-container .category-second-item:hover {
      background: #90D2C3; }
      .nav-container .category-second-item:hover a {
        color: #fff; }

.fa-bars {
  font-size: 28px; }

.footer-content-bottom {
  background: #90D2C3;
  min-height: 40px;
  width: 100%;
  text-align: center; }

.footer {
  text-align: center;
  letter-spacing: 1px;
  background: #90D2C3;
  color: #fff;
  font-size: 12px;
  font-family: Rubik, sans-serif;
  padding: 0.5rem 0; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

/* Generic */
.login-container {
  width: 100%;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #ecf0f3;
  color: #a0a5a8; }

/**/
.login-main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: #ecf0f3;
  box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  border-radius: 12px;
  overflow: hidden; }

.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: #ecf0f3;
  transition: 1.25s; }

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .form__icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: .5;
    transition: .15s; }
    .form__icon:hover {
      opacity: 1;
      transition: .15s;
      cursor: pointer; }
  .form__input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: .15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f3;
    transition: .25s ease;
    border-radius: 6px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9; }
    .form__input:focus {
      box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9; }
  .form__span {
    margin-top: 30px;
    margin-bottom: 12px; }
  .form__link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2; }

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818; }

.description {
  font-size: 14px;
  letter-spacing: .25px;
  text-align: center;
  line-height: 1.6; }

.button {
  width: 180px;
  height: 50px;
  border-radius: 6px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #90D2C3;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none; }

/**/
.a-container {
  z-index: 100;
  left: calc(100% - 600px); }

.b-container {
  left: calc(100% - 600px);
  z-index: 0; }

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #ecf0f3;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9; }
  .switch__circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
    bottom: -60%;
    left: -60%;
    transition: 1.25s; }
    .switch__circle--t {
      top: -30%;
      left: 60%;
      width: 300px;
      height: 300px; }
  .switch__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s; }
  .switch__button {
    cursor: pointer; }
    .switch__button:hover {
      box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
      transform: scale(0.985);
      transition: .25s; }
    .switch__button:active, .switch__button:focus {
      box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
      transform: scale(0.97);
      transition: .25s; }

/**/
.is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left; }

.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right; }

.is-z200 {
  z-index: 200;
  transition: 1.25s; }

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s; }

.is-gx {
  animation: is-gx 1.25s; }

@keyframes is-gx {
  0%, 10%, 100% {
    width: 400px; }
  30%, 50% {
    width: 500px; } }

.books-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 1rem auto;
  line-height: 1.2;
  position: relative; }
  .books-container .search-res-header {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 4px; }
    .books-container .search-res-header span {
      font-style: italic; }
  .books-container .s-result-info-bar {
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    margin-bottom: 14px !important;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
    .books-container .s-result-info-bar .count-info-bar {
      font-size: 12px;
      line-height: 1.5; }
    .books-container .s-result-info-bar .switch-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem; }
      .books-container .s-result-info-bar .switch-options .list-view, .books-container .s-result-info-bar .switch-options .gal-view {
        font-size: 24px;
        color: #444;
        cursor: pointer; }
      .books-container .s-result-info-bar .switch-options .gal-view {
        color: #c48657; }
  .books-container .books-main-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-auto-rows: 440px;
    grid-gap: 1.5rem 0.5rem;
    font-family: 'Roboto', sans-serif; }
    .books-container .books-main-grid .books-book-name {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      font-size: 16px !important;
      font-weight: 400;
      color: #111111;
      width: 100%; }
    .books-container .books-main-grid .books-book-author {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      font-size: 14px !important;
      font-weight: 300;
      color: #272727;
      width: 100%; }
    .books-container .books-main-grid .book-price-div {
      display: grid;
      grid-template-columns: 14px auto;
      justify-content: start; }
      .books-container .books-main-grid .book-price-div i {
        justify-self: center;
        font-size: 12px; }
    .books-container .books-main-grid .books-book-name:hover {
      color: #C45500; }
    .books-container .books-main-grid .books-book-price {
      font-size: 20px; }
    .books-container .books-main-grid .books-main-grid-elem {
      padding: 0.5rem;
      position: relative; }
      .books-container .books-main-grid .books-main-grid-elem:hover {
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11); }
    .books-container .books-main-grid .books-main-grid-elem-img {
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      align-self: center; }
      .books-container .books-main-grid .books-main-grid-elem-img .books-main-single-image {
        width: 100%;
        overflow: hidden;
        height: 100%; }
    .books-container .books-main-grid .rate-grid {
      padding: 0.5rem 0;
      width: 220px;
      height: 32px;
      display: grid;
      grid-template-columns: repeat(6, 24px); }
      .books-container .books-main-grid .rate-grid .star-filled {
        color: #FFC700; }
      .books-container .books-main-grid .rate-grid .star-unfilled {
        color: #CCCCCC; }
      .books-container .books-main-grid .rate-grid .fa-star {
        font-size: 20px; }
      .books-container .books-main-grid .rate-grid .rategrid-count-num {
        align-self: end;
        justify-self: center;
        font-weight: 500; }
  .books-container .books-main-elem-misc {
    height: 28px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center; }
    .books-container .books-main-elem-misc .add-to-cart {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.2rem; }
    .books-container .books-main-elem-misc .books-main-gatipay-elem {
      display: flex;
      justify-content: center;
      align-items: center; }
    .books-container .books-main-elem-misc .fab, .books-container .books-main-elem-misc .fas {
      font-size: 20px;
      border: none;
      outline: none;
      background-color: transparent; }
    .books-container .books-main-elem-misc .fab {
      color: #ff555e; }
    .books-container .books-main-elem-misc .fas {
      color: #F1AC55;
      cursor: pointer; }
    .books-container .books-main-elem-misc button[type=submit] {
      outline: none;
      border: none;
      background: transparent; }
    .books-container .books-main-elem-misc input[type=number] {
      -webkit-appearance: none;
      align-self: center;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 14px;
      border: 1px solid grey;
      background: none;
      height: 28px;
      margin: 0;
      transition: 0.3s;
      box-shadow: inset 0 0 0 none; }
    .books-container .books-main-elem-misc input[type=number]::-webkit-inner-spin-button,
    .books-container .books-main-elem-misc input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.books-main-grid-elem-div {
  height: 280px;
  margin: 0.5rem; }

.book-single-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; }
  .book-single-container .book-single-grid {
    display: grid;
    line-height: 1.6;
    grid-template-columns: 1fr 3fr 1fr; }
    .book-single-container .book-single-grid .book-single-img-div {
      padding: 1rem;
      position: relative; }
      .book-single-container .book-single-grid .book-single-img-div .book-single-img {
        width: 90%;
        position: absolute;
        top: 1.5rem; }
    .book-single-container .book-single-grid .books-book-name {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      font-size: 20px !important;
      font-weight: 500;
      color: #111111;
      width: 100%;
      margin-bottom: 0.5rem; }
    .book-single-container .book-single-grid .books-book-author {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      font-size: 16px !important;
      font-weight: 300;
      color: #272727;
      width: 100%;
      margin-bottom: 0.5rem; }
    .book-single-container .book-single-grid .books-book-general {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      font-size: 16px !important;
      font-weight: 400;
      color: #272727;
      width: 100%; }
    .book-single-container .book-single-grid .book-single-desc-div {
      padding: 1rem; }
    .book-single-container .book-single-grid .book-single-price-div {
      border-radius: 4px;
      padding: 0.5rem; }
    @media (max-width: 600px) {
      .book-single-container .book-single-grid {
        grid-template-columns: 1fr; } }
  .book-single-container .single-book-review-header {
    overflow: hidden;
    display: inline-block;
    position: relative;
    word-break: normal;
    font-size: 18px !important;
    font-weight: 500;
    color: #191919;
    width: 100%;
    margin-top: 1rem; }
  .book-single-container .rate-grid {
    padding: 0.5rem 0;
    width: 220px;
    height: 32px;
    display: grid;
    grid-template-columns: 24px 24px 24px 24px 24px auto; }
    .book-single-container .rate-grid .star-filled {
      color: #FFC700; }
    .book-single-container .rate-grid .star-unfilled {
      color: #CCCCCC; }
    .book-single-container .rate-grid .fa-star {
      font-size: 20px; }
    .book-single-container .rate-grid .rategrid-count-num {
      align-self: end;
      justify-self: center;
      font-weight: 500; }
  .book-single-container .review-book-self {
    overflow: hidden;
    display: inline-block;
    position: relative;
    word-break: normal;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 14px !important;
    font-weight: 400;
    color: #232323;
    width: 100%;
    font-style: italic; }
  .book-single-container .book-price-div {
    display: grid;
    grid-template-columns: 14px auto;
    justify-content: start; }
    .book-single-container .book-price-div i {
      justify-self: center;
      font-size: 18px; }
    .book-single-container .book-price-div .books-book-price {
      font-size: 26px;
      justify-self: start; }
  .book-single-container .book-single-elem-misc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center; }
    .book-single-container .book-single-elem-misc .add-to-cart {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.2rem; }
    .book-single-container .book-single-elem-misc .books-main-gatipay-elem {
      display: flex;
      justify-content: center;
      align-items: center; }
    .book-single-container .book-single-elem-misc .fab, .book-single-container .book-single-elem-misc .fas {
      font-size: 24px;
      border: none;
      outline: none;
      background-color: transparent; }
    .book-single-container .book-single-elem-misc .fab {
      color: #E81C27; }
    .book-single-container .book-single-elem-misc .fas {
      color: #F1AC55; }
    .book-single-container .book-single-elem-misc button[type=submit] {
      outline: none;
      border: none;
      background: transparent; }
    .book-single-container .book-single-elem-misc input[type=number] {
      -webkit-appearance: none;
      align-self: center;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 14px;
      border: 1px solid grey;
      background: none;
      height: 28px;
      margin: 0;
      transition: 0.3s;
      box-shadow: inset 0 0 0 none; }

.cart-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Roboto', sans-serif; }
  .cart-container .cart-container-header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .cart-container .cart-container-header-grid .address-small-checkout {
      padding: 1rem 0;
      font-size: 12px;
      color: #000; }
  .cart-container .cart-header {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 4px; }
  .cart-container .cart-main-grid {
    display: grid;
    grid-template-columns: 1fr; }
    .cart-container .cart-main-grid .cart-main-grid-single-elem {
      border-top: 1px solid #eee;
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr; }
      @media (max-width: 600px) {
        .cart-container .cart-main-grid .cart-main-grid-single-elem {
          grid-template-columns: 1fr; } }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-img-div {
        overflow: hidden; }
        .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-img-div .cart-single-img {
          width: 100%; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-desc-div {
        padding: 1rem; }
      .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div {
        border-radius: 4px;
        padding: 0.5rem;
        text-align: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        margin-right: 0.5rem; }
        .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div .book-price-div {
          width: 100%;
          display: grid;
          grid-template-columns: 14px auto;
          margin-bottom: 3rem;
          justify-content: center;
          align-content: start; }
          @media (max-width: 600px) {
            .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div .book-price-div {
              justify-content: start;
              align-content: start; } }
          .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div .book-price-div i {
            justify-self: center;
            font-size: 16px; }
          .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div .book-price-div p {
            text-align: center;
            font-size: 24px; }
        .cart-container .cart-main-grid .cart-main-grid-single-elem .cart-single-price-div a {
          width: 100%; }
    .cart-container .cart-main-grid .books-book-name {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      font-size: 22px !important;
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: #111111;
      width: 100%;
      line-height: 1.5; }
    .cart-container .cart-main-grid .books-book-author {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      margin-bottom: 0.5rem;
      font-size: 18px !important;
      font-weight: 400;
      color: #232323;
      width: 100%;
      line-height: 1.5; }
    .cart-container .cart-main-grid .books-book-quantity {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      margin-bottom: 2rem;
      font-size: 20px !important;
      font-weight: 400;
      color: #3d3d3d;
      width: 100%;
      line-height: 1.2; }
  .cart-container .cart-total-price-div {
    position: absolute;
    right: 1rem;
    padding-left: 2rem;
    widows: 240px; }
    @media (max-width: 600px) {
      .cart-container .cart-total-price-div {
        width: 100%; } }
  .cart-container .cart-main-book-anchor {
    margin-top: 2rem;
    overflow: hidden;
    display: inline-block;
    word-break: normal;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.25px;
    font-size: 16px !important;
    font-weight: 400;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background-color: #545BC4;
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif; }
  .cart-container .empty-cart-p {
    margin: 2rem 1rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
    word-break: normal;
    font-size: 24px !important;
    font-weight: 500;
    color: #111111;
    width: 100%; }
  .cart-container .cart-header-sub {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 4px; }

.review-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Roboto', sans-serif;
  /* Forces .form-input styles onto search type */ }
  .review-container .review-header-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    margin: 1rem;
    font-size: 24px;
    text-decoration: none;
    text-align: center; }
  .review-container .review-main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 360px; }
    .review-container .review-main-grid .review-main-grid-single-elem {
      border-top: 1px solid #eee;
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 4fr; }
      @media (max-width: 600px) {
        .review-container .review-main-grid .review-main-grid-single-elem {
          grid-template-columns: 1fr; } }
      .review-container .review-main-grid .review-main-grid-single-elem .review-single-img-div {
        overflow: hidden; }
      .review-container .review-main-grid .review-main-grid-single-elem .review-single-desc-div {
        padding: 1rem; }
      .review-container .review-main-grid .review-main-grid-single-elem .review-single-img {
        width: 100%; }
    .review-container .review-main-grid .books-book-name {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      font-size: 22px !important;
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: #111111;
      width: 100%; }
    .review-container .review-main-grid .books-book-author {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      margin-bottom: 0.5rem;
      font-size: 18px !important;
      font-weight: 400;
      color: #232323;
      width: 100%; }
    .review-container .review-main-grid .review-main-review-anchor {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      margin-bottom: 0.5rem;
      letter-spacing: 0.25px;
      font-size: 16px !important;
      font-weight: 400;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 2px;
      background-color: #545BC4; }
    .review-container .review-main-grid .review-main-review-anchor:hover {
      color: #C45500; }
    .review-container .review-main-grid .review-book-self {
      overflow: hidden;
      display: inline-block;
      position: relative;
      word-break: normal;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 14px !important;
      font-weight: 400;
      color: #232323;
      width: 100%;
      font-style: italic; }
    .review-container .review-main-grid .rate-grid {
      padding: 0.5rem 0;
      width: 220px;
      height: 32px;
      display: grid;
      grid-template-columns: repeat(5, 24px); }
      .review-container .review-main-grid .rate-grid .star-filled {
        color: #FFC700; }
      .review-container .review-main-grid .rate-grid .star-unfilled {
        color: #CCCCCC; }
      .review-container .review-main-grid .rate-grid .fa-star {
        font-size: 20px; }
  .review-container .review-single-image {
    width: 100%; }
  .review-container form {
    font-family: 'Open Sans', sans-serif; }
    .review-container form .saved-address-grid {
      display: grid;
      grid-gap: 1rem 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      margin: 1rem; }
      .review-container form .saved-address-grid .address-general-elem {
        letter-spacing: 0.5px;
        line-height: 1.7; }
        .review-container form .saved-address-grid .address-general-elem .address-elem-name {
          font-weight: 600; }
        .review-container form .saved-address-grid .address-general-elem li a {
          text-decoration: underline;
          font-weight: 400;
          cursor: pointer; }
      .review-container form .saved-address-grid .is-default-address {
        height: 40px;
        opacity: 0.75;
        font-weight: 600;
        border-left: 1px solid #C7C7C7;
        border-right: 1px solid #C7C7C7;
        border-top: 1px solid #C7C7C7;
        padding-left: 20px;
        padding-top: 11px; }
      .review-container form .saved-address-grid .not-default-address {
        height: 40px; }
      .review-container form .saved-address-grid .address-elem-grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.5rem;
        position: relative; }
      .review-container form .saved-address-grid input[type=radio] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none; }
      .review-container form .saved-address-grid input[type=radio]:checked + div {
        border: 1px solid #9147FF;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
      .review-container form .saved-address-grid input[type=radio]:not(:checked) + div {
        border: 1px solid #C7C7C7;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
    .review-container form .address-main-grid-elem {
      height: 266px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
    .review-container form .cart-address {
      display: block;
      -webkit-appearance: button;
      font-size: 15px;
      width: 200px;
      height: 36px;
      background-color: #545BC4;
      color: #FFFFFF;
      border: none;
      border-radius: 3px;
      margin-left: 1rem; }
  .review-container #form-box {
    height: content;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 2em 3.5em;
    border-top: 50px solid #E8E8E8;
    border-left: 2px solid #E8E8E8;
    border-right: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8; }
  .review-container #form-title {
    font-size: 1.6em;
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid #E8E8E8; }
  .review-container .form-header {
    font-size: 10px;
    margin-bottom: 2px; }
  .review-container .form-input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    padding-left: 6px; }
  .review-container .form-input:not(:last-child) {
    margin-bottom: 15px; }
  .review-container input[type=submit] {
    display: block;
    -webkit-appearance: button;
    font-size: 15px;
    width: 135px;
    height: 36px;
    background-color: #E18988;
    color: #FFFFFF;
    border: none;
    border-radius: 3px; }
  .review-container input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }

.underline {
  border-bottom: 4px solid blueviolet;
  padding-bottom: 0.5rem; }

.rate {
  float: left;
  height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #ffc700; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08; }

.review-form {
  position: relative;
  height: 400px; }
  .review-form textarea {
    position: absolute;
    left: 4.25rem;
    top: 180px; }
  .review-form input[type=submit] {
    position: absolute;
    left: 4.25rem;
    top: 280px; }

.nothing-to-show-header {
  margin-left: 2rem; }

.alert-success {
  color: green;
  background: #e0a1f7;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
  font-family: 'Source Code Pro', monospace; }

.alert-error {
  color: #ba3737;
  padding: 0.25rem 0.5rem;
  background: #e0a1f7;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
  font-family: 'Source Code Pro', monospace; }

.flashes {
  z-index: 100;
  background-color: white;
  position: absolute;
  top: 0rem;
  left: 30vw;
  text-align: center;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out; }

.purchases-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; }
  .purchases-container .purchases-outer-grid {
    margin: 1rem;
    padding: 1rem 0; }
  .purchases-container .purchases-single-elem-supp {
    padding: 0.75rem;
    border: 1px solid #c7c7c7;
    border-bottom: none; }
  .purchases-container .purchases-header {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 4px; }
  .purchases-container .books-book-name {
    overflow: hidden;
    display: inline-block;
    position: relative;
    word-break: normal;
    font-size: 16px !important;
    font-weight: 400;
    color: #111111;
    width: 100%; }
  .purchases-container .books-book-author {
    overflow: hidden;
    display: inline-block;
    position: relative;
    word-break: normal;
    font-size: 14px !important;
    font-weight: 300;
    color: #272727;
    width: 100%; }
  .purchases-container .books-book-qty {
    overflow: hidden;
    display: inline-block;
    position: relative;
    word-break: normal;
    font-size: 14px !important;
    font-weight: 400;
    color: black;
    width: 100%; }
  .purchases-container .book-price-div {
    display: grid;
    grid-template-columns: 14px auto;
    justify-content: start; }
    .purchases-container .book-price-div i {
      justify-self: center;
      font-size: 12px; }
  .purchases-container .books-book-name:hover {
    color: #C45500; }
  .purchases-container .books-book-price {
    font-size: 20px; }
  .purchases-container .purchases-main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 440px;
    grid-gap: 1.5rem;
    border: 1px solid #c7c7c7;
    margin-bottom: 1rem;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
    .purchases-container .purchases-main-grid .books-purchases-grid-elem {
      padding: 0.5rem;
      position: relative; }
    .purchases-container .purchases-main-grid .books-purchases-grid-elem-img {
      width: 75%;
      overflow: hidden;
      max-height: 306px;
      align-self: center; }
      .purchases-container .purchases-main-grid .books-purchases-grid-elem-img .books-purchases-single-image {
        width: 100%; }
    .purchases-container .purchases-main-grid .rate-grid {
      position: absolute;
      top: 390px;
      left: 8px;
      padding: 0.5rem 0;
      width: 220px;
      height: 32px;
      display: grid;
      grid-template-columns: repeat(5, 24px); }
      .purchases-container .purchases-main-grid .rate-grid .star-filled {
        color: #FFC700; }
      .purchases-container .purchases-main-grid .rate-grid .star-unfilled {
        color: #CCCCCC; }
      .purchases-container .purchases-main-grid .rate-grid .fa-star {
        font-size: 20px; }
  .purchases-container .purchase-single-header > p, .purchases-container span > p {
    opacity: 0.8;
    display: inline-block;
    font-weight: 600; }

.books-purchases-grid-elem-div {
  margin: 0.5rem; }

.address-container {
  max-width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
  /* Forces .form-input styles onto search type */ }
  .address-container .address-header {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    padding-bottom: 4px;
    font-family: 'Open Sans', sans-serif; }
  .address-container .address-main-grid {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-gap: 1rem 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin: 1rem; }
    .address-container .address-main-grid .address-main-grid-elem {
      height: 266px;
      border-width: 1px;
      box-sizing: border-box;
      border-color: #C7C7C7;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
      border-style: solid; }
    .address-container .address-main-grid .is-default-address {
      height: 40px;
      opacity: 0.75;
      font-weight: 600;
      border-bottom: 1px solid #C7C7C7;
      padding-left: 20px;
      padding-top: 11px; }
    .address-container .address-main-grid .not-default-address {
      height: 40px; }
    .address-container .address-main-grid .address-elem-grid {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0.5rem;
      position: relative; }
    .address-container .address-main-grid .add-address-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      border-style: dashed;
      border-width: 2px;
      box-shadow: none; }
      .address-container .address-main-grid .add-address-button i {
        font-size: 32px; }
      .address-container .address-main-grid .add-address-button .address-add-sign {
        display: flex;
        align-items: center;
        justify-content: center; }
    .address-container .address-main-grid .address-general-elem {
      letter-spacing: 0.5px;
      line-height: 1.7; }
      .address-container .address-main-grid .address-general-elem .address-elem-name {
        font-weight: 600; }
      .address-container .address-main-grid .address-general-elem li a {
        text-decoration: underline;
        font-weight: 400;
        cursor: pointer; }
  .address-container form {
    font-family: 'Open Sans', sans-serif; }
    .address-container form .saved-address-grid {
      display: grid;
      grid-gap: 1rem 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      margin: 1rem; }
      .address-container form .saved-address-grid .address-general-elem {
        letter-spacing: 0.5px;
        line-height: 1.7; }
        .address-container form .saved-address-grid .address-general-elem .address-elem-name {
          font-weight: 600; }
        .address-container form .saved-address-grid .address-general-elem li a {
          text-decoration: underline;
          font-weight: 400;
          cursor: pointer; }
      .address-container form .saved-address-grid .is-default-address {
        height: 40px;
        opacity: 0.75;
        font-weight: 600;
        border: 1px solid #C7C7C7;
        padding-left: 20px;
        padding-top: 11px; }
      .address-container form .saved-address-grid .not-default-address {
        height: 40px;
        border: none; }
      .address-container form .saved-address-grid .address-elem-grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.5rem;
        position: relative; }
      .address-container form .saved-address-grid input[type=radio] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none; }
      .address-container form .saved-address-grid input[type=radio]:checked + div {
        border: 1px solid #9147FF;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
      .address-container form .saved-address-grid input[type=radio]:not(:checked) + div {
        border: 1px solid #C7C7C7;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
    .address-container form .address-main-grid-elem {
      height: 266px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
    .address-container form .cart-address {
      display: block;
      -webkit-appearance: button;
      font-size: 15px;
      width: 200px;
      height: 36px;
      background-color: #545BC4;
      color: #FFFFFF;
      border: none;
      border-radius: 3px;
      margin-left: 1rem;
      font-family: 'Roboto', sans-serif; }
  .address-container #form-box {
    height: content;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 2em 3.5em;
    border-top: 50px solid #E8E8E8;
    border-left: 2px solid #E8E8E8;
    border-right: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8; }
  .address-container #form-title {
    font-size: 1.6em;
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid #E8E8E8; }
  .address-container .form-header {
    font-size: 10px;
    margin-bottom: 2px; }
  .address-container .form-input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    padding-left: 6px; }
  .address-container .form-input:not(:last-child) {
    margin-bottom: 15px; }
  .address-container input[type=submit] {
    display: block;
    -webkit-appearance: button;
    font-size: 15px;
    width: 135px;
    height: 36px;
    background-color: #E18988;
    color: #FFFFFF;
    border: none;
    border-radius: 3px; }
  .address-container input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }

.admin-book-container {
  background: #ffffff;
  width: 1300px;
  min-height: 82vh;
  height: auto;
  margin: 0 auto;
  font-family: 'Source Code Pro', monospace;
  /*--------------------------------------------------------------
        # Small and medium screens
        --------------------------------------------------------------*/
  /* Forces .form-input styles onto search type */ }
  .admin-book-container .admin-header-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding: 1rem;
    font-size: 24px;
    text-decoration: none;
    text-align: center; }
    .admin-book-container .admin-header-container .admin-header-anchor {
      font-weight: 600;
      justify-self: start; }
  .admin-book-container .admin-book-header {
    font-size: 28px;
    font-weight: 500;
    padding: 1rem 0;
    padding-left: 2rem; }
  .admin-book-container table {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    font-size: 20px;
    width: 100%; }
  .admin-book-container .flex-admin-basic {
    display: flex;
    justify-content: center;
    align-items: center; }
  .admin-book-container .block-red {
    color: maroon; }
  .admin-book-container .unblock-green {
    color: greenyellow; }
  .admin-book-container th {
    color: #ffffff;
    background: #a764e6;
    font-weight: 700;
    vertical-align: center;
    padding-top: 0.75rem;
    padding-left: 1rem;
    text-align: left; }
  .admin-book-container tr {
    background: #fff;
    height: 40px; }
  .admin-book-container tr:hover {
    background: #f4f4f4; }
  .admin-book-container tr:last-child {
    border-bottom: 2px solid #a764e6; }
  .admin-book-container td {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #a764e6;
    border-left: 1px solid #a764e6; }
  .admin-book-container thead {
    min-height: 48px; }
  .admin-book-container tbody {
    border-bottom: 1px solid #a764e6; }
  @media all and (max-width: 900px) {
    .admin-book-container table,
    .admin-book-container thead,
    .admin-book-container tbody,
    .admin-book-container th,
    .admin-book-container td,
    .admin-book-container tr {
      display: block; }
    .admin-book-container thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .admin-book-container table {
      box-shadow: none; }
    .admin-book-container tr {
      margin: 0 0 1rem 0;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      border-top: 5px solid #39a2fb;
      border-radius: 7px;
      padding-right: 5px; }
    .admin-book-container tr:hover {
      background: #fff; }
    .admin-book-container td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: right; }
    .admin-book-container td:before {
      position: absolute;
      top: 5px;
      left: 10px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-title);
      font-weight: bold;
      text-align: left; } }
  .admin-book-container form {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem; }
    .admin-book-container form textarea {
      width: 70%; }
    .admin-book-container form .saved-address-grid {
      display: grid;
      grid-gap: 1rem 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      margin: 1rem; }
      .admin-book-container form .saved-address-grid .address-general-elem {
        letter-spacing: 0.5px;
        line-height: 1.7; }
        .admin-book-container form .saved-address-grid .address-general-elem .address-elem-name {
          font-weight: 600; }
        .admin-book-container form .saved-address-grid .address-general-elem li a {
          text-decoration: underline;
          font-weight: 400;
          cursor: pointer; }
      .admin-book-container form .saved-address-grid .is-default-address {
        height: 40px;
        opacity: 0.75;
        font-weight: 600;
        border: 1px solid #C7C7C7;
        padding-left: 20px;
        padding-top: 11px; }
      .admin-book-container form .saved-address-grid .not-default-address {
        height: 40px;
        border: none; }
      .admin-book-container form .saved-address-grid .address-elem-grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.5rem;
        position: relative; }
      .admin-book-container form .saved-address-grid input[type=radio] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none; }
      .admin-book-container form .saved-address-grid input[type=radio]:checked + div {
        border: 1px solid #9147FF;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
      .admin-book-container form .saved-address-grid input[type=radio]:not(:checked) + div {
        border: 1px solid #C7C7C7;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
    .admin-book-container form .category-grid-admin {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      margin-top: 0.5rem;
      justify-content: center;
      margin: 0.25 0.5rem;
      background-color: white;
      border: 1px solid #777; }
    .admin-book-container form .category-add-btn {
      color: black;
      cursor: pointer;
      background: transparent;
      background-color: plum;
      border-radius: 4px;
      padding: 0.2rem 0.4rem;
      margin: 0.25rem 0.5rem; }
    .admin-book-container form .address-main-grid-elem {
      height: 266px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16); }
    .admin-book-container form .cart-address {
      display: block;
      -webkit-appearance: button;
      font-size: 15px;
      width: 200px;
      height: 36px;
      background-color: #545BC4;
      color: #FFFFFF;
      border: none;
      border-radius: 3px;
      margin-left: 1rem;
      font-family: 'Roboto', sans-serif; }
  .admin-book-container #form-box {
    height: content;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 2em 3.5em;
    border-top: 50px solid #E8E8E8;
    border-left: 2px solid #E8E8E8;
    border-right: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8; }
  .admin-book-container #form-title {
    font-size: 1.6em;
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid #E8E8E8; }
  .admin-book-container .form-header {
    font-size: 10px;
    margin-bottom: 2px; }
  .admin-book-container .form-input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    padding-left: 6px; }
  .admin-book-container .form-input:not(:last-child) {
    margin-bottom: 15px; }
  .admin-book-container input[type=submit] {
    display: block;
    -webkit-appearance: button;
    font-size: 15px;
    width: 135px;
    height: 36px;
    background-color: #545BC4;
    color: #FFFFFF;
    border: none;
    border-radius: 3px; }
  .admin-book-container input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
  .admin-book-container input[type=number]::-webkit-inner-spin-button,
  .admin-book-container input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
